openapi: 3.0.1
info:
  description: ""
  title: Arvancloud PaaS REST API
  version: v1.11
  x-logo:
    url: /images/other/arvan-api-docs-logo.svg
    backgroundColor: white
    altText: arvancloud
servers:
- url: https://napi.arvancloud.ir/paas/v1/regions/ir-thr-at1/o
security:
- ApiKeyAuth: []
paths:
  /api/v1/namespaces/{namespace}/configmaps:
    delete:
      operationId: deletecollectionNamespacedConfigMap
      parameters:
      - description: "If 'true', then the output is pretty printed."
        in: query
        name: pretty
        schema:
          type: string
      - description: A selector to restrict the list of returned objects by their
          labels. Defaults to everything.
        in: query
        name: labelSelector
        schema:
          type: string
      - description: A selector to restrict the list of returned objects by their
          fields. Defaults to everything.
        in: query
        name: fieldSelector
        schema:
          type: string
      - description: "If true, partially initialized resources are included in the\
          \ response."
        in: query
        name: includeUninitialized
        schema:
          type: boolean
      - description: "Watch for changes to the described resources and return them\
          \ as a stream of add, update, and remove notifications. Specify resourceVersion."
        in: query
        name: watch
        schema:
          type: boolean
      - description: "When specified with a watch call, shows changes that occur after\
          \ that particular version of a resource. Defaults to changes from the beginning\
          \ of history. When specified for list: - if unset, then the result is returned\
          \ from remote storage based on quorum-read flag; - if it's 0, then we simply\
          \ return what we currently have in cache, no guarantee; - if set to non\
          \ zero, then the result is at least as fresh as given rv."
        in: query
        name: resourceVersion
        schema:
          type: string
      - description: "Timeout for the list/watch call. This limits the duration of\
          \ the call, regardless of any activity or inactivity."
        in: query
        name: timeoutSeconds
        schema:
          type: integer
      - description: |-
          limit is a maximum number of responses to return for a list call. If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.

          The server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.
        in: query
        name: limit
        schema:
          type: integer
      - description: "The continue option should be set when retrieving more results\
          \ from the server. Since this value is server defined, clients may only\
          \ use the continue value from a previous query result with identical query\
          \ parameters (except for the value of continue) and the server may reject\
          \ a continue value it does not recognize. If the specified continue value\
          \ is no longer valid whether due to expiration (generally five to fifteen\
          \ minutes) or a configuration change on the server the server will respond\
          \ with a 410 ResourceExpired error indicating the client must restart their\
          \ list without the continue field. This field is not supported when watch\
          \ is true. Clients may start a watch from the last resourceVersion value\
          \ returned by the server and not miss any modifications."
        in: query
        name: continue
        schema:
          type: string
      - description: "object name and auth scope, such as for teams and projects"
        in: path
        name: namespace
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.Status'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.Status'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.Status'
          description: OK
      summary: delete collection of ConfigMap
      tags:
      - ConfigMap
    get:
      operationId: listNamespacedConfigMap
      parameters:
      - description: "If 'true', then the output is pretty printed."
        in: query
        name: pretty
        schema:
          type: string
      - description: A selector to restrict the list of returned objects by their
          labels. Defaults to everything.
        in: query
        name: labelSelector
        schema:
          type: string
      - description: A selector to restrict the list of returned objects by their
          fields. Defaults to everything.
        in: query
        name: fieldSelector
        schema:
          type: string
      - description: "If true, partially initialized resources are included in the\
          \ response."
        in: query
        name: includeUninitialized
        schema:
          type: boolean
      - description: "Watch for changes to the described resources and return them\
          \ as a stream of add, update, and remove notifications. Specify resourceVersion."
        in: query
        name: watch
        schema:
          type: boolean
      - description: "When specified with a watch call, shows changes that occur after\
          \ that particular version of a resource. Defaults to changes from the beginning\
          \ of history. When specified for list: - if unset, then the result is returned\
          \ from remote storage based on quorum-read flag; - if it's 0, then we simply\
          \ return what we currently have in cache, no guarantee; - if set to non\
          \ zero, then the result is at least as fresh as given rv."
        in: query
        name: resourceVersion
        schema:
          type: string
      - description: "Timeout for the list/watch call. This limits the duration of\
          \ the call, regardless of any activity or inactivity."
        in: query
        name: timeoutSeconds
        schema:
          type: integer
      - description: |-
          limit is a maximum number of responses to return for a list call. If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.

          The server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.
        in: query
        name: limit
        schema:
          type: integer
      - description: "The continue option should be set when retrieving more results\
          \ from the server. Since this value is server defined, clients may only\
          \ use the continue value from a previous query result with identical query\
          \ parameters (except for the value of continue) and the server may reject\
          \ a continue value it does not recognize. If the specified continue value\
          \ is no longer valid whether due to expiration (generally five to fifteen\
          \ minutes) or a configuration change on the server the server will respond\
          \ with a 410 ResourceExpired error indicating the client must restart their\
          \ list without the continue field. This field is not supported when watch\
          \ is true. Clients may start a watch from the last resourceVersion value\
          \ returned by the server and not miss any modifications."
        in: query
        name: continue
        schema:
          type: string
      - description: "object name and auth scope, such as for teams and projects"
        in: path
        name: namespace
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.ConfigMapList'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.ConfigMapList'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.ConfigMapList'
            application/json;stream=watch:
              schema:
                $ref: '#/components/schemas/v1.ConfigMapList'
            application/vnd.kubernetes.protobuf;stream=watch:
              schema:
                $ref: '#/components/schemas/v1.ConfigMapList'
          description: OK
      summary: list or watch objects of kind ConfigMap
      tags:
      - ConfigMap
    post:
      operationId: createNamespacedConfigMap
      parameters:
      - description: "If 'true', then the output is pretty printed."
        in: query
        name: pretty
        schema:
          type: string
      - description: "object name and auth scope, such as for teams and projects"
        in: path
        name: namespace
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/v1.ConfigMap'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.ConfigMap'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.ConfigMap'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.ConfigMap'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.ConfigMap'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.ConfigMap'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.ConfigMap'
          description: Created
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.ConfigMap'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.ConfigMap'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.ConfigMap'
          description: Accepted
      summary: create a ConfigMap
      tags:
      - ConfigMap
      x-codegen-request-body-name: body
  /api/v1/namespaces/{namespace}/configmaps/{name}:
    delete:
      operationId: deleteNamespacedConfigMap
      parameters:
      - description: "If 'true', then the output is pretty printed."
        in: query
        name: pretty
        schema:
          type: string
      - description: "The duration in seconds before the object should be deleted.\
          \ Value must be non-negative integer. The value zero indicates delete immediately.\
          \ If this value is nil, the default grace period for the specified type\
          \ will be used. Defaults to a per object value if not specified. zero means\
          \ delete immediately."
        in: query
        name: gracePeriodSeconds
        schema:
          type: integer
      - description: "Deprecated: please use the PropagationPolicy, this field will\
          \ be deprecated in 1.7. Should the dependent objects be orphaned. If true/false,\
          \ the \"orphan\" finalizer will be added to/removed from the object's finalizers\
          \ list. Either this field or PropagationPolicy may be set, but not both."
        in: query
        name: orphanDependents
        schema:
          type: boolean
      - description: "Whether and how garbage collection will be performed. Either\
          \ this field or OrphanDependents may be set, but not both. The default policy\
          \ is decided by the existing finalizer set in the metadata.finalizers and\
          \ the resource-specific default policy. Acceptable values are: 'Orphan'\
          \ - orphan the dependents; 'Background' - allow the garbage collector to\
          \ delete the dependents in the background; 'Foreground' - a cascading policy\
          \ that deletes all dependents in the foreground."
        in: query
        name: propagationPolicy
        schema:
          type: string
      - description: "object name and auth scope, such as for teams and projects"
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: name of the ConfigMap
        in: path
        name: name
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/v1.DeleteOptions'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.Status'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.Status'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.Status'
          description: OK
      summary: delete a ConfigMap
      tags:
      - ConfigMap
      x-codegen-request-body-name: body
    get:
      operationId: readNamespacedConfigMap
      parameters:
      - description: "If 'true', then the output is pretty printed."
        in: query
        name: pretty
        schema:
          type: string
      - description: Should this value be exported.  Export strips fields that a user
          can not specify.
        in: query
        name: export
        schema:
          type: boolean
      - description: Should the export be exact.  Exact export maintains cluster-specific
          fields like 'Namespace'.
        in: query
        name: exact
        schema:
          type: boolean
      - description: "object name and auth scope, such as for teams and projects"
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: name of the ConfigMap
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.ConfigMap'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.ConfigMap'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.ConfigMap'
          description: OK
      summary: read the specified ConfigMap
      tags:
      - ConfigMap
    patch:
      operationId: patchNamespacedConfigMap
      parameters:
      - description: "If 'true', then the output is pretty printed."
        in: query
        name: pretty
        schema:
          type: string
      - description: "object name and auth scope, such as for teams and projects"
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: name of the ConfigMap
        in: path
        name: name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/v1.Patch'
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/v1.Patch'
          application/strategic-merge-patch+json:
            schema:
              $ref: '#/components/schemas/v1.Patch'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.ConfigMap'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.ConfigMap'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.ConfigMap'
          description: OK
      summary: partially update the specified ConfigMap
      tags:
      - ConfigMap
      x-codegen-request-body-name: body
    put:
      operationId: replaceNamespacedConfigMap
      parameters:
      - description: "If 'true', then the output is pretty printed."
        in: query
        name: pretty
        schema:
          type: string
      - description: "object name and auth scope, such as for teams and projects"
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: name of the ConfigMap
        in: path
        name: name
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/v1.ConfigMap'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.ConfigMap'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.ConfigMap'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.ConfigMap'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.ConfigMap'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.ConfigMap'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.ConfigMap'
          description: Created
      summary: replace the specified ConfigMap
      tags:
      - ConfigMap
      x-codegen-request-body-name: body
  /api/v1/namespaces/{namespace}/events:
    get:
      operationId: listNamespacedEvent
      parameters:
      - description: "If 'true', then the output is pretty printed."
        in: query
        name: pretty
        schema:
          type: string
      - description: A selector to restrict the list of returned objects by their
          labels. Defaults to everything.
        in: query
        name: labelSelector
        schema:
          type: string
      - description: A selector to restrict the list of returned objects by their
          fields. Defaults to everything.
        in: query
        name: fieldSelector
        schema:
          type: string
      - description: "If true, partially initialized resources are included in the\
          \ response."
        in: query
        name: includeUninitialized
        schema:
          type: boolean
      - description: "Watch for changes to the described resources and return them\
          \ as a stream of add, update, and remove notifications. Specify resourceVersion."
        in: query
        name: watch
        schema:
          type: boolean
      - description: "When specified with a watch call, shows changes that occur after\
          \ that particular version of a resource. Defaults to changes from the beginning\
          \ of history. When specified for list: - if unset, then the result is returned\
          \ from remote storage based on quorum-read flag; - if it's 0, then we simply\
          \ return what we currently have in cache, no guarantee; - if set to non\
          \ zero, then the result is at least as fresh as given rv."
        in: query
        name: resourceVersion
        schema:
          type: string
      - description: "Timeout for the list/watch call. This limits the duration of\
          \ the call, regardless of any activity or inactivity."
        in: query
        name: timeoutSeconds
        schema:
          type: integer
      - description: |-
          limit is a maximum number of responses to return for a list call. If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.

          The server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.
        in: query
        name: limit
        schema:
          type: integer
      - description: "The continue option should be set when retrieving more results\
          \ from the server. Since this value is server defined, clients may only\
          \ use the continue value from a previous query result with identical query\
          \ parameters (except for the value of continue) and the server may reject\
          \ a continue value it does not recognize. If the specified continue value\
          \ is no longer valid whether due to expiration (generally five to fifteen\
          \ minutes) or a configuration change on the server the server will respond\
          \ with a 410 ResourceExpired error indicating the client must restart their\
          \ list without the continue field. This field is not supported when watch\
          \ is true. Clients may start a watch from the last resourceVersion value\
          \ returned by the server and not miss any modifications."
        in: query
        name: continue
        schema:
          type: string
      - description: "object name and auth scope, such as for teams and projects"
        in: path
        name: namespace
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.EventList'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.EventList'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.EventList'
            application/json;stream=watch:
              schema:
                $ref: '#/components/schemas/v1.EventList'
            application/vnd.kubernetes.protobuf;stream=watch:
              schema:
                $ref: '#/components/schemas/v1.EventList'
          description: OK
      summary: list or watch objects of kind Event
      tags:
      - Events
  /api/v1/namespaces/{namespace}/events/{name}:
    get:
      operationId: readNamespacedEvent
      parameters:
      - description: "If 'true', then the output is pretty printed."
        in: query
        name: pretty
        schema:
          type: string
      - description: Should this value be exported.  Export strips fields that a user
          can not specify.
        in: query
        name: export
        schema:
          type: boolean
      - description: Should the export be exact.  Exact export maintains cluster-specific
          fields like 'Namespace'.
        in: query
        name: exact
        schema:
          type: boolean
      - description: "object name and auth scope, such as for teams and projects"
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: name of the Event
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.Event'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.Event'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.Event'
          description: OK
      summary: read the specified Event
      tags:
      - Events
  /api/v1/namespaces/{namespace}/persistentvolumeclaims:
    delete:
      operationId: deletecollectionNamespacedPersistentVolumeClaim
      parameters:
      - description: "If 'true', then the output is pretty printed."
        in: query
        name: pretty
        schema:
          type: string
      - description: A selector to restrict the list of returned objects by their
          labels. Defaults to everything.
        in: query
        name: labelSelector
        schema:
          type: string
      - description: A selector to restrict the list of returned objects by their
          fields. Defaults to everything.
        in: query
        name: fieldSelector
        schema:
          type: string
      - description: "If true, partially initialized resources are included in the\
          \ response."
        in: query
        name: includeUninitialized
        schema:
          type: boolean
      - description: "Watch for changes to the described resources and return them\
          \ as a stream of add, update, and remove notifications. Specify resourceVersion."
        in: query
        name: watch
        schema:
          type: boolean
      - description: "When specified with a watch call, shows changes that occur after\
          \ that particular version of a resource. Defaults to changes from the beginning\
          \ of history. When specified for list: - if unset, then the result is returned\
          \ from remote storage based on quorum-read flag; - if it's 0, then we simply\
          \ return what we currently have in cache, no guarantee; - if set to non\
          \ zero, then the result is at least as fresh as given rv."
        in: query
        name: resourceVersion
        schema:
          type: string
      - description: "Timeout for the list/watch call. This limits the duration of\
          \ the call, regardless of any activity or inactivity."
        in: query
        name: timeoutSeconds
        schema:
          type: integer
      - description: |-
          limit is a maximum number of responses to return for a list call. If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.

          The server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.
        in: query
        name: limit
        schema:
          type: integer
      - description: "The continue option should be set when retrieving more results\
          \ from the server. Since this value is server defined, clients may only\
          \ use the continue value from a previous query result with identical query\
          \ parameters (except for the value of continue) and the server may reject\
          \ a continue value it does not recognize. If the specified continue value\
          \ is no longer valid whether due to expiration (generally five to fifteen\
          \ minutes) or a configuration change on the server the server will respond\
          \ with a 410 ResourceExpired error indicating the client must restart their\
          \ list without the continue field. This field is not supported when watch\
          \ is true. Clients may start a watch from the last resourceVersion value\
          \ returned by the server and not miss any modifications."
        in: query
        name: continue
        schema:
          type: string
      - description: "object name and auth scope, such as for teams and projects"
        in: path
        name: namespace
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.Status'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.Status'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.Status'
          description: OK
      summary: delete collection of PersistentVolumeClaim
      tags:
      - PersistentVolumeClaim
    get:
      operationId: listNamespacedPersistentVolumeClaim
      parameters:
      - description: "If 'true', then the output is pretty printed."
        in: query
        name: pretty
        schema:
          type: string
      - description: A selector to restrict the list of returned objects by their
          labels. Defaults to everything.
        in: query
        name: labelSelector
        schema:
          type: string
      - description: A selector to restrict the list of returned objects by their
          fields. Defaults to everything.
        in: query
        name: fieldSelector
        schema:
          type: string
      - description: "If true, partially initialized resources are included in the\
          \ response."
        in: query
        name: includeUninitialized
        schema:
          type: boolean
      - description: "Watch for changes to the described resources and return them\
          \ as a stream of add, update, and remove notifications. Specify resourceVersion."
        in: query
        name: watch
        schema:
          type: boolean
      - description: "When specified with a watch call, shows changes that occur after\
          \ that particular version of a resource. Defaults to changes from the beginning\
          \ of history. When specified for list: - if unset, then the result is returned\
          \ from remote storage based on quorum-read flag; - if it's 0, then we simply\
          \ return what we currently have in cache, no guarantee; - if set to non\
          \ zero, then the result is at least as fresh as given rv."
        in: query
        name: resourceVersion
        schema:
          type: string
      - description: "Timeout for the list/watch call. This limits the duration of\
          \ the call, regardless of any activity or inactivity."
        in: query
        name: timeoutSeconds
        schema:
          type: integer
      - description: |-
          limit is a maximum number of responses to return for a list call. If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.

          The server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.
        in: query
        name: limit
        schema:
          type: integer
      - description: "The continue option should be set when retrieving more results\
          \ from the server. Since this value is server defined, clients may only\
          \ use the continue value from a previous query result with identical query\
          \ parameters (except for the value of continue) and the server may reject\
          \ a continue value it does not recognize. If the specified continue value\
          \ is no longer valid whether due to expiration (generally five to fifteen\
          \ minutes) or a configuration change on the server the server will respond\
          \ with a 410 ResourceExpired error indicating the client must restart their\
          \ list without the continue field. This field is not supported when watch\
          \ is true. Clients may start a watch from the last resourceVersion value\
          \ returned by the server and not miss any modifications."
        in: query
        name: continue
        schema:
          type: string
      - description: "object name and auth scope, such as for teams and projects"
        in: path
        name: namespace
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.PersistentVolumeClaimList'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.PersistentVolumeClaimList'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.PersistentVolumeClaimList'
            application/json;stream=watch:
              schema:
                $ref: '#/components/schemas/v1.PersistentVolumeClaimList'
            application/vnd.kubernetes.protobuf;stream=watch:
              schema:
                $ref: '#/components/schemas/v1.PersistentVolumeClaimList'
          description: OK
      summary: list or watch objects of kind PersistentVolumeClaim
      tags:
      - PersistentVolumeClaim
    post:
      operationId: createNamespacedPersistentVolumeClaim
      parameters:
      - description: "If 'true', then the output is pretty printed."
        in: query
        name: pretty
        schema:
          type: string
      - description: "object name and auth scope, such as for teams and projects"
        in: path
        name: namespace
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/v1.PersistentVolumeClaim'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.PersistentVolumeClaim'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.PersistentVolumeClaim'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.PersistentVolumeClaim'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.PersistentVolumeClaim'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.PersistentVolumeClaim'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.PersistentVolumeClaim'
          description: Created
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.PersistentVolumeClaim'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.PersistentVolumeClaim'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.PersistentVolumeClaim'
          description: Accepted
      summary: create a PersistentVolumeClaim
      tags:
      - PersistentVolumeClaim
      x-codegen-request-body-name: body
  /api/v1/namespaces/{namespace}/persistentvolumeclaims/{name}:
    delete:
      operationId: deleteNamespacedPersistentVolumeClaim
      parameters:
      - description: "If 'true', then the output is pretty printed."
        in: query
        name: pretty
        schema:
          type: string
      - description: "The duration in seconds before the object should be deleted.\
          \ Value must be non-negative integer. The value zero indicates delete immediately.\
          \ If this value is nil, the default grace period for the specified type\
          \ will be used. Defaults to a per object value if not specified. zero means\
          \ delete immediately."
        in: query
        name: gracePeriodSeconds
        schema:
          type: integer
      - description: "Deprecated: please use the PropagationPolicy, this field will\
          \ be deprecated in 1.7. Should the dependent objects be orphaned. If true/false,\
          \ the \"orphan\" finalizer will be added to/removed from the object's finalizers\
          \ list. Either this field or PropagationPolicy may be set, but not both."
        in: query
        name: orphanDependents
        schema:
          type: boolean
      - description: "Whether and how garbage collection will be performed. Either\
          \ this field or OrphanDependents may be set, but not both. The default policy\
          \ is decided by the existing finalizer set in the metadata.finalizers and\
          \ the resource-specific default policy. Acceptable values are: 'Orphan'\
          \ - orphan the dependents; 'Background' - allow the garbage collector to\
          \ delete the dependents in the background; 'Foreground' - a cascading policy\
          \ that deletes all dependents in the foreground."
        in: query
        name: propagationPolicy
        schema:
          type: string
      - description: "object name and auth scope, such as for teams and projects"
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: name of the PersistentVolumeClaim
        in: path
        name: name
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/v1.DeleteOptions'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.Status'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.Status'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.Status'
          description: OK
      summary: delete a PersistentVolumeClaim
      tags:
      - PersistentVolumeClaim
      x-codegen-request-body-name: body
    get:
      operationId: readNamespacedPersistentVolumeClaim
      parameters:
      - description: "If 'true', then the output is pretty printed."
        in: query
        name: pretty
        schema:
          type: string
      - description: Should this value be exported.  Export strips fields that a user
          can not specify.
        in: query
        name: export
        schema:
          type: boolean
      - description: Should the export be exact.  Exact export maintains cluster-specific
          fields like 'Namespace'.
        in: query
        name: exact
        schema:
          type: boolean
      - description: "object name and auth scope, such as for teams and projects"
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: name of the PersistentVolumeClaim
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.PersistentVolumeClaim'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.PersistentVolumeClaim'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.PersistentVolumeClaim'
          description: OK
      summary: read the specified PersistentVolumeClaim
      tags:
      - PersistentVolumeClaim
    patch:
      operationId: patchNamespacedPersistentVolumeClaim
      parameters:
      - description: "If 'true', then the output is pretty printed."
        in: query
        name: pretty
        schema:
          type: string
      - description: "object name and auth scope, such as for teams and projects"
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: name of the PersistentVolumeClaim
        in: path
        name: name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/v1.Patch'
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/v1.Patch'
          application/strategic-merge-patch+json:
            schema:
              $ref: '#/components/schemas/v1.Patch'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.PersistentVolumeClaim'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.PersistentVolumeClaim'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.PersistentVolumeClaim'
          description: OK
      summary: partially update the specified PersistentVolumeClaim
      tags:
      - PersistentVolumeClaim
      x-codegen-request-body-name: body
    put:
      operationId: replaceNamespacedPersistentVolumeClaim
      parameters:
      - description: "If 'true', then the output is pretty printed."
        in: query
        name: pretty
        schema:
          type: string
      - description: "object name and auth scope, such as for teams and projects"
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: name of the PersistentVolumeClaim
        in: path
        name: name
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/v1.PersistentVolumeClaim'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.PersistentVolumeClaim'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.PersistentVolumeClaim'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.PersistentVolumeClaim'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.PersistentVolumeClaim'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.PersistentVolumeClaim'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.PersistentVolumeClaim'
          description: Created
      summary: replace the specified PersistentVolumeClaim
      tags:
      - PersistentVolumeClaim
      x-codegen-request-body-name: body
  /api/v1/namespaces/{namespace}/pods:
    delete:
      operationId: deletecollectionNamespacedPod
      parameters:
      - description: "If 'true', then the output is pretty printed."
        in: query
        name: pretty
        schema:
          type: string
      - description: A selector to restrict the list of returned objects by their
          labels. Defaults to everything.
        in: query
        name: labelSelector
        schema:
          type: string
      - description: A selector to restrict the list of returned objects by their
          fields. Defaults to everything.
        in: query
        name: fieldSelector
        schema:
          type: string
      - description: "If true, partially initialized resources are included in the\
          \ response."
        in: query
        name: includeUninitialized
        schema:
          type: boolean
      - description: "Watch for changes to the described resources and return them\
          \ as a stream of add, update, and remove notifications. Specify resourceVersion."
        in: query
        name: watch
        schema:
          type: boolean
      - description: "When specified with a watch call, shows changes that occur after\
          \ that particular version of a resource. Defaults to changes from the beginning\
          \ of history. When specified for list: - if unset, then the result is returned\
          \ from remote storage based on quorum-read flag; - if it's 0, then we simply\
          \ return what we currently have in cache, no guarantee; - if set to non\
          \ zero, then the result is at least as fresh as given rv."
        in: query
        name: resourceVersion
        schema:
          type: string
      - description: "Timeout for the list/watch call. This limits the duration of\
          \ the call, regardless of any activity or inactivity."
        in: query
        name: timeoutSeconds
        schema:
          type: integer
      - description: |-
          limit is a maximum number of responses to return for a list call. If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.

          The server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.
        in: query
        name: limit
        schema:
          type: integer
      - description: "The continue option should be set when retrieving more results\
          \ from the server. Since this value is server defined, clients may only\
          \ use the continue value from a previous query result with identical query\
          \ parameters (except for the value of continue) and the server may reject\
          \ a continue value it does not recognize. If the specified continue value\
          \ is no longer valid whether due to expiration (generally five to fifteen\
          \ minutes) or a configuration change on the server the server will respond\
          \ with a 410 ResourceExpired error indicating the client must restart their\
          \ list without the continue field. This field is not supported when watch\
          \ is true. Clients may start a watch from the last resourceVersion value\
          \ returned by the server and not miss any modifications."
        in: query
        name: continue
        schema:
          type: string
      - description: "object name and auth scope, such as for teams and projects"
        in: path
        name: namespace
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.Status'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.Status'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.Status'
          description: OK
      summary: delete collection of Pod
      tags:
      - Pod
    get:
      operationId: listNamespacedPod
      parameters:
      - description: "If 'true', then the output is pretty printed."
        in: query
        name: pretty
        schema:
          type: string
      - description: A selector to restrict the list of returned objects by their
          labels. Defaults to everything.
        in: query
        name: labelSelector
        schema:
          type: string
      - description: A selector to restrict the list of returned objects by their
          fields. Defaults to everything.
        in: query
        name: fieldSelector
        schema:
          type: string
      - description: "If true, partially initialized resources are included in the\
          \ response."
        in: query
        name: includeUninitialized
        schema:
          type: boolean
      - description: "Watch for changes to the described resources and return them\
          \ as a stream of add, update, and remove notifications. Specify resourceVersion."
        in: query
        name: watch
        schema:
          type: boolean
      - description: "When specified with a watch call, shows changes that occur after\
          \ that particular version of a resource. Defaults to changes from the beginning\
          \ of history. When specified for list: - if unset, then the result is returned\
          \ from remote storage based on quorum-read flag; - if it's 0, then we simply\
          \ return what we currently have in cache, no guarantee; - if set to non\
          \ zero, then the result is at least as fresh as given rv."
        in: query
        name: resourceVersion
        schema:
          type: string
      - description: "Timeout for the list/watch call. This limits the duration of\
          \ the call, regardless of any activity or inactivity."
        in: query
        name: timeoutSeconds
        schema:
          type: integer
      - description: |-
          limit is a maximum number of responses to return for a list call. If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.

          The server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.
        in: query
        name: limit
        schema:
          type: integer
      - description: "The continue option should be set when retrieving more results\
          \ from the server. Since this value is server defined, clients may only\
          \ use the continue value from a previous query result with identical query\
          \ parameters (except for the value of continue) and the server may reject\
          \ a continue value it does not recognize. If the specified continue value\
          \ is no longer valid whether due to expiration (generally five to fifteen\
          \ minutes) or a configuration change on the server the server will respond\
          \ with a 410 ResourceExpired error indicating the client must restart their\
          \ list without the continue field. This field is not supported when watch\
          \ is true. Clients may start a watch from the last resourceVersion value\
          \ returned by the server and not miss any modifications."
        in: query
        name: continue
        schema:
          type: string
      - description: "object name and auth scope, such as for teams and projects"
        in: path
        name: namespace
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.PodList'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.PodList'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.PodList'
            application/json;stream=watch:
              schema:
                $ref: '#/components/schemas/v1.PodList'
            application/vnd.kubernetes.protobuf;stream=watch:
              schema:
                $ref: '#/components/schemas/v1.PodList'
          description: OK
      summary: list or watch objects of kind Pod
      tags:
      - Pod
    post:
      operationId: createNamespacedPod
      parameters:
      - description: "If 'true', then the output is pretty printed."
        in: query
        name: pretty
        schema:
          type: string
      - description: "object name and auth scope, such as for teams and projects"
        in: path
        name: namespace
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/v1.Pod'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.Pod'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.Pod'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.Pod'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.Pod'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.Pod'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.Pod'
          description: Created
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.Pod'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.Pod'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.Pod'
          description: Accepted
      summary: create a Pod
      tags:
      - Pod
      x-codegen-request-body-name: body
  /api/v1/namespaces/{namespace}/pods/{name}:
    delete:
      operationId: deleteNamespacedPod
      parameters:
      - description: "If 'true', then the output is pretty printed."
        in: query
        name: pretty
        schema:
          type: string
      - description: "The duration in seconds before the object should be deleted.\
          \ Value must be non-negative integer. The value zero indicates delete immediately.\
          \ If this value is nil, the default grace period for the specified type\
          \ will be used. Defaults to a per object value if not specified. zero means\
          \ delete immediately."
        in: query
        name: gracePeriodSeconds
        schema:
          type: integer
      - description: "Deprecated: please use the PropagationPolicy, this field will\
          \ be deprecated in 1.7. Should the dependent objects be orphaned. If true/false,\
          \ the \"orphan\" finalizer will be added to/removed from the object's finalizers\
          \ list. Either this field or PropagationPolicy may be set, but not both."
        in: query
        name: orphanDependents
        schema:
          type: boolean
      - description: "Whether and how garbage collection will be performed. Either\
          \ this field or OrphanDependents may be set, but not both. The default policy\
          \ is decided by the existing finalizer set in the metadata.finalizers and\
          \ the resource-specific default policy. Acceptable values are: 'Orphan'\
          \ - orphan the dependents; 'Background' - allow the garbage collector to\
          \ delete the dependents in the background; 'Foreground' - a cascading policy\
          \ that deletes all dependents in the foreground."
        in: query
        name: propagationPolicy
        schema:
          type: string
      - description: "object name and auth scope, such as for teams and projects"
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: name of the Pod
        in: path
        name: name
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/v1.DeleteOptions'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.Status'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.Status'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.Status'
          description: OK
      summary: delete a Pod
      tags:
      - Pod
      x-codegen-request-body-name: body
    get:
      operationId: readNamespacedPod
      parameters:
      - description: "If 'true', then the output is pretty printed."
        in: query
        name: pretty
        schema:
          type: string
      - description: Should this value be exported.  Export strips fields that a user
          can not specify.
        in: query
        name: export
        schema:
          type: boolean
      - description: Should the export be exact.  Exact export maintains cluster-specific
          fields like 'Namespace'.
        in: query
        name: exact
        schema:
          type: boolean
      - description: "object name and auth scope, such as for teams and projects"
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: name of the Pod
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.Pod'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.Pod'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.Pod'
          description: OK
      summary: read the specified Pod
      tags:
      - Pod
    patch:
      operationId: patchNamespacedPod
      parameters:
      - description: "If 'true', then the output is pretty printed."
        in: query
        name: pretty
        schema:
          type: string
      - description: "object name and auth scope, such as for teams and projects"
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: name of the Pod
        in: path
        name: name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/v1.Patch'
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/v1.Patch'
          application/strategic-merge-patch+json:
            schema:
              $ref: '#/components/schemas/v1.Patch'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.Pod'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.Pod'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.Pod'
          description: OK
      summary: partially update the specified Pod
      tags:
      - Pod
      x-codegen-request-body-name: body
    put:
      operationId: replaceNamespacedPod
      parameters:
      - description: "If 'true', then the output is pretty printed."
        in: query
        name: pretty
        schema:
          type: string
      - description: "object name and auth scope, such as for teams and projects"
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: name of the Pod
        in: path
        name: name
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/v1.Pod'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.Pod'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.Pod'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.Pod'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.Pod'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.Pod'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.Pod'
          description: Created
      summary: replace the specified Pod
      tags:
      - Pod
      x-codegen-request-body-name: body
  /api/v1/namespaces/{namespace}/pods/{name}/exec:
    get:
      operationId: connectGetNamespacedPodExec
      parameters:
      - description: Redirect the standard input stream of the pod for this call.
          Defaults to false.
        in: query
        name: stdin
        schema:
          type: boolean
      - description: Redirect the standard output stream of the pod for this call.
          Defaults to true.
        in: query
        name: stdout
        schema:
          type: boolean
      - description: Redirect the standard error stream of the pod for this call.
          Defaults to true.
        in: query
        name: stderr
        schema:
          type: boolean
      - description: TTY if true indicates that a tty will be allocated for the exec
          call. Defaults to false.
        in: query
        name: tty
        schema:
          type: boolean
      - description: Container in which to execute the command. Defaults to only container
          if there is only one container in the pod.
        in: query
        name: container
        schema:
          type: string
      - description: Command is the remote command to execute. argv array. Not executed
          within a shell.
        in: query
        name: command
        schema:
          type: string
      - description: "object name and auth scope, such as for teams and projects"
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: name of the Pod
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: No response was specified
      summary: connect GET requests to exec of Pod
      tags:
      - Pod
    post:
      operationId: connectPostNamespacedPodExec
      parameters:
      - description: Redirect the standard input stream of the pod for this call.
          Defaults to false.
        in: query
        name: stdin
        schema:
          type: boolean
      - description: Redirect the standard output stream of the pod for this call.
          Defaults to true.
        in: query
        name: stdout
        schema:
          type: boolean
      - description: Redirect the standard error stream of the pod for this call.
          Defaults to true.
        in: query
        name: stderr
        schema:
          type: boolean
      - description: TTY if true indicates that a tty will be allocated for the exec
          call. Defaults to false.
        in: query
        name: tty
        schema:
          type: boolean
      - description: Container in which to execute the command. Defaults to only container
          if there is only one container in the pod.
        in: query
        name: container
        schema:
          type: string
      - description: Command is the remote command to execute. argv array. Not executed
          within a shell.
        in: query
        name: command
        schema:
          type: string
      - description: "object name and auth scope, such as for teams and projects"
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: name of the Pod
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: No response was specified
      summary: connect POST requests to exec of Pod
      tags:
      - Pod
  /api/v1/namespaces/{namespace}/pods/{name}/log:
    get:
      operationId: readNamespacedPodLog
      parameters:
      - description: "If 'true', then the output is pretty printed."
        in: query
        name: pretty
        schema:
          type: string
      - description: The container for which to stream logs. Defaults to only container
          if there is one container in the pod.
        in: query
        name: container
        schema:
          type: string
      - description: Follow the log stream of the pod. Defaults to false.
        in: query
        name: follow
        schema:
          type: boolean
      - description: Return previous terminated container logs. Defaults to false.
        in: query
        name: previous
        schema:
          type: boolean
      - description: "A relative time in seconds before the current time from which\
          \ to show logs. If this value precedes the time a pod was started, only\
          \ logs since the pod start will be returned. If this value is in the future,\
          \ no logs will be returned. Only one of sinceSeconds or sinceTime may be\
          \ specified."
        in: query
        name: sinceSeconds
        schema:
          type: integer
      - description: "If true, add an RFC3339 or RFC3339Nano timestamp at the beginning\
          \ of every line of log output. Defaults to false."
        in: query
        name: timestamps
        schema:
          type: boolean
      - description: "If set, the number of lines from the end of the logs to show.\
          \ If not specified, logs are shown from the creation of the container or\
          \ sinceSeconds or sinceTime"
        in: query
        name: tailLines
        schema:
          type: integer
      - description: "If set, the number of bytes to read from the server before terminating\
          \ the log output. This may not display a complete final line of logging,\
          \ and may return slightly more or slightly less than the specified limit."
        in: query
        name: limitBytes
        schema:
          type: integer
      - description: "object name and auth scope, such as for teams and projects"
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: name of the Pod
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/yaml:
              schema:
                type: string
            application/vnd.kubernetes.protobuf:
              schema:
                type: string
          description: OK
      summary: read log of the specified Pod
      tags:
      - Pod
  /api/v1/namespaces/{namespace}/resourcequotas:
    get:
      operationId: listNamespacedResourceQuota
      parameters:
      - description: "If 'true', then the output is pretty printed."
        in: query
        name: pretty
        schema:
          type: string
      - description: A selector to restrict the list of returned objects by their
          labels. Defaults to everything.
        in: query
        name: labelSelector
        schema:
          type: string
      - description: A selector to restrict the list of returned objects by their
          fields. Defaults to everything.
        in: query
        name: fieldSelector
        schema:
          type: string
      - description: "If true, partially initialized resources are included in the\
          \ response."
        in: query
        name: includeUninitialized
        schema:
          type: boolean
      - description: "Watch for changes to the described resources and return them\
          \ as a stream of add, update, and remove notifications. Specify resourceVersion."
        in: query
        name: watch
        schema:
          type: boolean
      - description: "When specified with a watch call, shows changes that occur after\
          \ that particular version of a resource. Defaults to changes from the beginning\
          \ of history. When specified for list: - if unset, then the result is returned\
          \ from remote storage based on quorum-read flag; - if it's 0, then we simply\
          \ return what we currently have in cache, no guarantee; - if set to non\
          \ zero, then the result is at least as fresh as given rv."
        in: query
        name: resourceVersion
        schema:
          type: string
      - description: "Timeout for the list/watch call. This limits the duration of\
          \ the call, regardless of any activity or inactivity."
        in: query
        name: timeoutSeconds
        schema:
          type: integer
      - description: |-
          limit is a maximum number of responses to return for a list call. If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.

          The server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.
        in: query
        name: limit
        schema:
          type: integer
      - description: "The continue option should be set when retrieving more results\
          \ from the server. Since this value is server defined, clients may only\
          \ use the continue value from a previous query result with identical query\
          \ parameters (except for the value of continue) and the server may reject\
          \ a continue value it does not recognize. If the specified continue value\
          \ is no longer valid whether due to expiration (generally five to fifteen\
          \ minutes) or a configuration change on the server the server will respond\
          \ with a 410 ResourceExpired error indicating the client must restart their\
          \ list without the continue field. This field is not supported when watch\
          \ is true. Clients may start a watch from the last resourceVersion value\
          \ returned by the server and not miss any modifications."
        in: query
        name: continue
        schema:
          type: string
      - description: "object name and auth scope, such as for teams and projects"
        in: path
        name: namespace
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.ResourceQuotaList'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.ResourceQuotaList'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.ResourceQuotaList'
            application/json;stream=watch:
              schema:
                $ref: '#/components/schemas/v1.ResourceQuotaList'
            application/vnd.kubernetes.protobuf;stream=watch:
              schema:
                $ref: '#/components/schemas/v1.ResourceQuotaList'
          description: OK
      summary: list or watch objects of kind ResourceQuota
      tags:
      - ResourceQuota
  /api/v1/namespaces/{namespace}/secrets:
    delete:
      operationId: deletecollectionNamespacedSecret
      parameters:
      - description: "If 'true', then the output is pretty printed."
        in: query
        name: pretty
        schema:
          type: string
      - description: A selector to restrict the list of returned objects by their
          labels. Defaults to everything.
        in: query
        name: labelSelector
        schema:
          type: string
      - description: A selector to restrict the list of returned objects by their
          fields. Defaults to everything.
        in: query
        name: fieldSelector
        schema:
          type: string
      - description: "If true, partially initialized resources are included in the\
          \ response."
        in: query
        name: includeUninitialized
        schema:
          type: boolean
      - description: "Watch for changes to the described resources and return them\
          \ as a stream of add, update, and remove notifications. Specify resourceVersion."
        in: query
        name: watch
        schema:
          type: boolean
      - description: "When specified with a watch call, shows changes that occur after\
          \ that particular version of a resource. Defaults to changes from the beginning\
          \ of history. When specified for list: - if unset, then the result is returned\
          \ from remote storage based on quorum-read flag; - if it's 0, then we simply\
          \ return what we currently have in cache, no guarantee; - if set to non\
          \ zero, then the result is at least as fresh as given rv."
        in: query
        name: resourceVersion
        schema:
          type: string
      - description: "Timeout for the list/watch call. This limits the duration of\
          \ the call, regardless of any activity or inactivity."
        in: query
        name: timeoutSeconds
        schema:
          type: integer
      - description: |-
          limit is a maximum number of responses to return for a list call. If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.

          The server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.
        in: query
        name: limit
        schema:
          type: integer
      - description: "The continue option should be set when retrieving more results\
          \ from the server. Since this value is server defined, clients may only\
          \ use the continue value from a previous query result with identical query\
          \ parameters (except for the value of continue) and the server may reject\
          \ a continue value it does not recognize. If the specified continue value\
          \ is no longer valid whether due to expiration (generally five to fifteen\
          \ minutes) or a configuration change on the server the server will respond\
          \ with a 410 ResourceExpired error indicating the client must restart their\
          \ list without the continue field. This field is not supported when watch\
          \ is true. Clients may start a watch from the last resourceVersion value\
          \ returned by the server and not miss any modifications."
        in: query
        name: continue
        schema:
          type: string
      - description: "object name and auth scope, such as for teams and projects"
        in: path
        name: namespace
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.Status'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.Status'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.Status'
          description: OK
      summary: delete collection of Secret
      tags:
      - Secret
    get:
      operationId: listNamespacedSecret
      parameters:
      - description: "If 'true', then the output is pretty printed."
        in: query
        name: pretty
        schema:
          type: string
      - description: A selector to restrict the list of returned objects by their
          labels. Defaults to everything.
        in: query
        name: labelSelector
        schema:
          type: string
      - description: A selector to restrict the list of returned objects by their
          fields. Defaults to everything.
        in: query
        name: fieldSelector
        schema:
          type: string
      - description: "If true, partially initialized resources are included in the\
          \ response."
        in: query
        name: includeUninitialized
        schema:
          type: boolean
      - description: "Watch for changes to the described resources and return them\
          \ as a stream of add, update, and remove notifications. Specify resourceVersion."
        in: query
        name: watch
        schema:
          type: boolean
      - description: "When specified with a watch call, shows changes that occur after\
          \ that particular version of a resource. Defaults to changes from the beginning\
          \ of history. When specified for list: - if unset, then the result is returned\
          \ from remote storage based on quorum-read flag; - if it's 0, then we simply\
          \ return what we currently have in cache, no guarantee; - if set to non\
          \ zero, then the result is at least as fresh as given rv."
        in: query
        name: resourceVersion
        schema:
          type: string
      - description: "Timeout for the list/watch call. This limits the duration of\
          \ the call, regardless of any activity or inactivity."
        in: query
        name: timeoutSeconds
        schema:
          type: integer
      - description: |-
          limit is a maximum number of responses to return for a list call. If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.

          The server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.
        in: query
        name: limit
        schema:
          type: integer
      - description: "The continue option should be set when retrieving more results\
          \ from the server. Since this value is server defined, clients may only\
          \ use the continue value from a previous query result with identical query\
          \ parameters (except for the value of continue) and the server may reject\
          \ a continue value it does not recognize. If the specified continue value\
          \ is no longer valid whether due to expiration (generally five to fifteen\
          \ minutes) or a configuration change on the server the server will respond\
          \ with a 410 ResourceExpired error indicating the client must restart their\
          \ list without the continue field. This field is not supported when watch\
          \ is true. Clients may start a watch from the last resourceVersion value\
          \ returned by the server and not miss any modifications."
        in: query
        name: continue
        schema:
          type: string
      - description: "object name and auth scope, such as for teams and projects"
        in: path
        name: namespace
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.SecretList'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.SecretList'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.SecretList'
            application/json;stream=watch:
              schema:
                $ref: '#/components/schemas/v1.SecretList'
            application/vnd.kubernetes.protobuf;stream=watch:
              schema:
                $ref: '#/components/schemas/v1.SecretList'
          description: OK
      summary: list or watch objects of kind Secret
      tags:
      - Secret
    post:
      operationId: createNamespacedSecret
      parameters:
      - description: "If 'true', then the output is pretty printed."
        in: query
        name: pretty
        schema:
          type: string
      - description: "object name and auth scope, such as for teams and projects"
        in: path
        name: namespace
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/v1.Secret'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.Secret'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.Secret'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.Secret'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.Secret'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.Secret'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.Secret'
          description: Created
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.Secret'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.Secret'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.Secret'
          description: Accepted
      summary: create a Secret
      tags:
      - Secret
      x-codegen-request-body-name: body
  /api/v1/namespaces/{namespace}/secrets/{name}:
    delete:
      operationId: deleteNamespacedSecret
      parameters:
      - description: "If 'true', then the output is pretty printed."
        in: query
        name: pretty
        schema:
          type: string
      - description: "The duration in seconds before the object should be deleted.\
          \ Value must be non-negative integer. The value zero indicates delete immediately.\
          \ If this value is nil, the default grace period for the specified type\
          \ will be used. Defaults to a per object value if not specified. zero means\
          \ delete immediately."
        in: query
        name: gracePeriodSeconds
        schema:
          type: integer
      - description: "Deprecated: please use the PropagationPolicy, this field will\
          \ be deprecated in 1.7. Should the dependent objects be orphaned. If true/false,\
          \ the \"orphan\" finalizer will be added to/removed from the object's finalizers\
          \ list. Either this field or PropagationPolicy may be set, but not both."
        in: query
        name: orphanDependents
        schema:
          type: boolean
      - description: "Whether and how garbage collection will be performed. Either\
          \ this field or OrphanDependents may be set, but not both. The default policy\
          \ is decided by the existing finalizer set in the metadata.finalizers and\
          \ the resource-specific default policy. Acceptable values are: 'Orphan'\
          \ - orphan the dependents; 'Background' - allow the garbage collector to\
          \ delete the dependents in the background; 'Foreground' - a cascading policy\
          \ that deletes all dependents in the foreground."
        in: query
        name: propagationPolicy
        schema:
          type: string
      - description: "object name and auth scope, such as for teams and projects"
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: name of the Secret
        in: path
        name: name
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/v1.DeleteOptions'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.Status'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.Status'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.Status'
          description: OK
      summary: delete a Secret
      tags:
      - Secret
      x-codegen-request-body-name: body
    get:
      operationId: readNamespacedSecret
      parameters:
      - description: "If 'true', then the output is pretty printed."
        in: query
        name: pretty
        schema:
          type: string
      - description: Should this value be exported.  Export strips fields that a user
          can not specify.
        in: query
        name: export
        schema:
          type: boolean
      - description: Should the export be exact.  Exact export maintains cluster-specific
          fields like 'Namespace'.
        in: query
        name: exact
        schema:
          type: boolean
      - description: "object name and auth scope, such as for teams and projects"
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: name of the Secret
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.Secret'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.Secret'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.Secret'
          description: OK
      summary: read the specified Secret
      tags:
      - Secret
    patch:
      operationId: patchNamespacedSecret
      parameters:
      - description: "If 'true', then the output is pretty printed."
        in: query
        name: pretty
        schema:
          type: string
      - description: "object name and auth scope, such as for teams and projects"
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: name of the Secret
        in: path
        name: name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/v1.Patch'
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/v1.Patch'
          application/strategic-merge-patch+json:
            schema:
              $ref: '#/components/schemas/v1.Patch'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.Secret'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.Secret'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.Secret'
          description: OK
      summary: partially update the specified Secret
      tags:
      - Secret
      x-codegen-request-body-name: body
    put:
      operationId: replaceNamespacedSecret
      parameters:
      - description: "If 'true', then the output is pretty printed."
        in: query
        name: pretty
        schema:
          type: string
      - description: "object name and auth scope, such as for teams and projects"
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: name of the Secret
        in: path
        name: name
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/v1.Secret'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.Secret'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.Secret'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.Secret'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.Secret'
            application/yaml:
              schema:
                $ref: '#/components/schemas/v1.Secret'
            application/vnd.kubernetes.protobuf:
              schema:
                $ref: '#/components/schemas/v1.Secret'
          description: Created
      summary: replace the specified Secret
      tags:
      - Secret
      x-codegen-request-body-name: body
  /api/v1/namespaces/{namespace}/services:
    get:
      operationId: listNamespacedService
      parameters:
      - description: "If 'true', then the output is pretty printed."
        in: query
        name: pretty
        schema:
          type: string
      - description: A selector to restrict the list of returned objects by their
          labels. Defaults to everything.
        in: query
        name: labelSelector
        schema:
          type: string
      - description: A selector to restrict the list of returned objects by their
          fields. Defaults to everything.
        in: query
        name: fieldSelector
        schema:
          type: string
      - description: "If true, partially initialized resources are included in the\
          \ response."
        in: query
        name: includeUninitialized
        schema:
          type: boolean
      - description: "Watch for changes to the described resources and return them\
[...]
