/*
Arvancloud PaaS REST API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.11
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package paas

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// HorizontalPodAutoscalerAPIService HorizontalPodAutoscalerAPI service
type HorizontalPodAutoscalerAPIService service

type ApiCreateNamespacedHorizontalPodAutoscalerRequest struct {
	ctx context.Context
	ApiService *HorizontalPodAutoscalerAPIService
	namespace string
	body *V1HorizontalPodAutoscaler
	pretty *string
}

func (r ApiCreateNamespacedHorizontalPodAutoscalerRequest) Body(body V1HorizontalPodAutoscaler) ApiCreateNamespacedHorizontalPodAutoscalerRequest {
	r.body = &body
	return r
}

// If &#39;true&#39;, then the output is pretty printed.
func (r ApiCreateNamespacedHorizontalPodAutoscalerRequest) Pretty(pretty string) ApiCreateNamespacedHorizontalPodAutoscalerRequest {
	r.pretty = &pretty
	return r
}

func (r ApiCreateNamespacedHorizontalPodAutoscalerRequest) Execute() (*V1HorizontalPodAutoscaler, *http.Response, error) {
	return r.ApiService.CreateNamespacedHorizontalPodAutoscalerExecute(r)
}

/*
CreateNamespacedHorizontalPodAutoscaler create a HorizontalPodAutoscaler

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace object name and auth scope, such as for teams and projects
 @return ApiCreateNamespacedHorizontalPodAutoscalerRequest
*/
func (a *HorizontalPodAutoscalerAPIService) CreateNamespacedHorizontalPodAutoscaler(ctx context.Context, namespace string) ApiCreateNamespacedHorizontalPodAutoscalerRequest {
	return ApiCreateNamespacedHorizontalPodAutoscalerRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return V1HorizontalPodAutoscaler
func (a *HorizontalPodAutoscalerAPIService) CreateNamespacedHorizontalPodAutoscalerExecute(r ApiCreateNamespacedHorizontalPodAutoscalerRequest) (*V1HorizontalPodAutoscaler, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1HorizontalPodAutoscaler
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HorizontalPodAutoscalerAPIService.CreateNamespacedHorizontalPodAutoscaler")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/autoscaling/v1/namespaces/{namespace}/horizontalpodautoscalers"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	if r.pretty != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pretty", r.pretty, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/yaml", "application/vnd.kubernetes.protobuf"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteNamespacedHorizontalPodAutoscalerRequest struct {
	ctx context.Context
	ApiService *HorizontalPodAutoscalerAPIService
	namespace string
	name string
	body *V1DeleteOptions
	pretty *string
	gracePeriodSeconds *int32
	orphanDependents *bool
	propagationPolicy *string
}

func (r ApiDeleteNamespacedHorizontalPodAutoscalerRequest) Body(body V1DeleteOptions) ApiDeleteNamespacedHorizontalPodAutoscalerRequest {
	r.body = &body
	return r
}

// If &#39;true&#39;, then the output is pretty printed.
func (r ApiDeleteNamespacedHorizontalPodAutoscalerRequest) Pretty(pretty string) ApiDeleteNamespacedHorizontalPodAutoscalerRequest {
	r.pretty = &pretty
	return r
}

// The duration in seconds before the object should be deleted. Value must be non-negative integer. The value zero indicates delete immediately. If this value is nil, the default grace period for the specified type will be used. Defaults to a per object value if not specified. zero means delete immediately.
func (r ApiDeleteNamespacedHorizontalPodAutoscalerRequest) GracePeriodSeconds(gracePeriodSeconds int32) ApiDeleteNamespacedHorizontalPodAutoscalerRequest {
	r.gracePeriodSeconds = &gracePeriodSeconds
	return r
}

// Deprecated: please use the PropagationPolicy, this field will be deprecated in 1.7. Should the dependent objects be orphaned. If true/false, the \&quot;orphan\&quot; finalizer will be added to/removed from the object&#39;s finalizers list. Either this field or PropagationPolicy may be set, but not both.
func (r ApiDeleteNamespacedHorizontalPodAutoscalerRequest) OrphanDependents(orphanDependents bool) ApiDeleteNamespacedHorizontalPodAutoscalerRequest {
	r.orphanDependents = &orphanDependents
	return r
}

// Whether and how garbage collection will be performed. Either this field or OrphanDependents may be set, but not both. The default policy is decided by the existing finalizer set in the metadata.finalizers and the resource-specific default policy. Acceptable values are: &#39;Orphan&#39; - orphan the dependents; &#39;Background&#39; - allow the garbage collector to delete the dependents in the background; &#39;Foreground&#39; - a cascading policy that deletes all dependents in the foreground.
func (r ApiDeleteNamespacedHorizontalPodAutoscalerRequest) PropagationPolicy(propagationPolicy string) ApiDeleteNamespacedHorizontalPodAutoscalerRequest {
	r.propagationPolicy = &propagationPolicy
	return r
}

func (r ApiDeleteNamespacedHorizontalPodAutoscalerRequest) Execute() (*V1Status, *http.Response, error) {
	return r.ApiService.DeleteNamespacedHorizontalPodAutoscalerExecute(r)
}

/*
DeleteNamespacedHorizontalPodAutoscaler delete a HorizontalPodAutoscaler

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace object name and auth scope, such as for teams and projects
 @param name name of the HorizontalPodAutoscaler
 @return ApiDeleteNamespacedHorizontalPodAutoscalerRequest
*/
func (a *HorizontalPodAutoscalerAPIService) DeleteNamespacedHorizontalPodAutoscaler(ctx context.Context, namespace string, name string) ApiDeleteNamespacedHorizontalPodAutoscalerRequest {
	return ApiDeleteNamespacedHorizontalPodAutoscalerRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
		name: name,
	}
}

// Execute executes the request
//  @return V1Status
func (a *HorizontalPodAutoscalerAPIService) DeleteNamespacedHorizontalPodAutoscalerExecute(r ApiDeleteNamespacedHorizontalPodAutoscalerRequest) (*V1Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HorizontalPodAutoscalerAPIService.DeleteNamespacedHorizontalPodAutoscaler")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/autoscaling/v1/namespaces/{namespace}/horizontalpodautoscalers/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	if r.pretty != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pretty", r.pretty, "")
	}
	if r.gracePeriodSeconds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gracePeriodSeconds", r.gracePeriodSeconds, "")
	}
	if r.orphanDependents != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orphanDependents", r.orphanDependents, "")
	}
	if r.propagationPolicy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "propagationPolicy", r.propagationPolicy, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/yaml", "application/vnd.kubernetes.protobuf"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeletecollectionNamespacedHorizontalPodAutoscalerRequest struct {
	ctx context.Context
	ApiService *HorizontalPodAutoscalerAPIService
	namespace string
	pretty *string
	labelSelector *string
	fieldSelector *string
	includeUninitialized *bool
	watch *bool
	resourceVersion *string
	timeoutSeconds *int32
	limit *int32
	continue_ *string
}

// If &#39;true&#39;, then the output is pretty printed.
func (r ApiDeletecollectionNamespacedHorizontalPodAutoscalerRequest) Pretty(pretty string) ApiDeletecollectionNamespacedHorizontalPodAutoscalerRequest {
	r.pretty = &pretty
	return r
}

// A selector to restrict the list of returned objects by their labels. Defaults to everything.
func (r ApiDeletecollectionNamespacedHorizontalPodAutoscalerRequest) LabelSelector(labelSelector string) ApiDeletecollectionNamespacedHorizontalPodAutoscalerRequest {
	r.labelSelector = &labelSelector
	return r
}

// A selector to restrict the list of returned objects by their fields. Defaults to everything.
func (r ApiDeletecollectionNamespacedHorizontalPodAutoscalerRequest) FieldSelector(fieldSelector string) ApiDeletecollectionNamespacedHorizontalPodAutoscalerRequest {
	r.fieldSelector = &fieldSelector
	return r
}

// If true, partially initialized resources are included in the response.
func (r ApiDeletecollectionNamespacedHorizontalPodAutoscalerRequest) IncludeUninitialized(includeUninitialized bool) ApiDeletecollectionNamespacedHorizontalPodAutoscalerRequest {
	r.includeUninitialized = &includeUninitialized
	return r
}

// Watch for changes to the described resources and return them as a stream of add, update, and remove notifications. Specify resourceVersion.
func (r ApiDeletecollectionNamespacedHorizontalPodAutoscalerRequest) Watch(watch bool) ApiDeletecollectionNamespacedHorizontalPodAutoscalerRequest {
	r.watch = &watch
	return r
}

// When specified with a watch call, shows changes that occur after that particular version of a resource. Defaults to changes from the beginning of history. When specified for list: - if unset, then the result is returned from remote storage based on quorum-read flag; - if it&#39;s 0, then we simply return what we currently have in cache, no guarantee; - if set to non zero, then the result is at least as fresh as given rv.
func (r ApiDeletecollectionNamespacedHorizontalPodAutoscalerRequest) ResourceVersion(resourceVersion string) ApiDeletecollectionNamespacedHorizontalPodAutoscalerRequest {
	r.resourceVersion = &resourceVersion
	return r
}

// Timeout for the list/watch call. This limits the duration of the call, regardless of any activity or inactivity.
func (r ApiDeletecollectionNamespacedHorizontalPodAutoscalerRequest) TimeoutSeconds(timeoutSeconds int32) ApiDeletecollectionNamespacedHorizontalPodAutoscalerRequest {
	r.timeoutSeconds = &timeoutSeconds
	return r
}

// limit is a maximum number of responses to return for a list call. If more items exist, the server will set the &#x60;continue&#x60; field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.  The server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.
func (r ApiDeletecollectionNamespacedHorizontalPodAutoscalerRequest) Limit(limit int32) ApiDeletecollectionNamespacedHorizontalPodAutoscalerRequest {
	r.limit = &limit
	return r
}

// The continue option should be set when retrieving more results from the server. Since this value is server defined, clients may only use the continue value from a previous query result with identical query parameters (except for the value of continue) and the server may reject a continue value it does not recognize. If the specified continue value is no longer valid whether due to expiration (generally five to fifteen minutes) or a configuration change on the server the server will respond with a 410 ResourceExpired error indicating the client must restart their list without the continue field. This field is not supported when watch is true. Clients may start a watch from the last resourceVersion value returned by the server and not miss any modifications.
func (r ApiDeletecollectionNamespacedHorizontalPodAutoscalerRequest) Continue_(continue_ string) ApiDeletecollectionNamespacedHorizontalPodAutoscalerRequest {
	r.continue_ = &continue_
	return r
}

func (r ApiDeletecollectionNamespacedHorizontalPodAutoscalerRequest) Execute() (*V1Status, *http.Response, error) {
	return r.ApiService.DeletecollectionNamespacedHorizontalPodAutoscalerExecute(r)
}

/*
DeletecollectionNamespacedHorizontalPodAutoscaler delete collection of HorizontalPodAutoscaler

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace object name and auth scope, such as for teams and projects
 @return ApiDeletecollectionNamespacedHorizontalPodAutoscalerRequest
*/
func (a *HorizontalPodAutoscalerAPIService) DeletecollectionNamespacedHorizontalPodAutoscaler(ctx context.Context, namespace string) ApiDeletecollectionNamespacedHorizontalPodAutoscalerRequest {
	return ApiDeletecollectionNamespacedHorizontalPodAutoscalerRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return V1Status
func (a *HorizontalPodAutoscalerAPIService) DeletecollectionNamespacedHorizontalPodAutoscalerExecute(r ApiDeletecollectionNamespacedHorizontalPodAutoscalerRequest) (*V1Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HorizontalPodAutoscalerAPIService.DeletecollectionNamespacedHorizontalPodAutoscaler")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/autoscaling/v1/namespaces/{namespace}/horizontalpodautoscalers"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pretty != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pretty", r.pretty, "")
	}
	if r.labelSelector != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "labelSelector", r.labelSelector, "")
	}
	if r.fieldSelector != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fieldSelector", r.fieldSelector, "")
	}
	if r.includeUninitialized != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeUninitialized", r.includeUninitialized, "")
	}
	if r.watch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "watch", r.watch, "")
	}
	if r.resourceVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resourceVersion", r.resourceVersion, "")
	}
	if r.timeoutSeconds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timeoutSeconds", r.timeoutSeconds, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.continue_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continue", r.continue_, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/yaml", "application/vnd.kubernetes.protobuf"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListNamespacedHorizontalPodAutoscalerRequest struct {
	ctx context.Context
	ApiService *HorizontalPodAutoscalerAPIService
	namespace string
	pretty *string
	labelSelector *string
	fieldSelector *string
	includeUninitialized *bool
	watch *bool
	resourceVersion *string
	timeoutSeconds *int32
	limit *int32
	continue_ *string
}

// If &#39;true&#39;, then the output is pretty printed.
func (r ApiListNamespacedHorizontalPodAutoscalerRequest) Pretty(pretty string) ApiListNamespacedHorizontalPodAutoscalerRequest {
	r.pretty = &pretty
	return r
}

// A selector to restrict the list of returned objects by their labels. Defaults to everything.
func (r ApiListNamespacedHorizontalPodAutoscalerRequest) LabelSelector(labelSelector string) ApiListNamespacedHorizontalPodAutoscalerRequest {
	r.labelSelector = &labelSelector
	return r
}

// A selector to restrict the list of returned objects by their fields. Defaults to everything.
func (r ApiListNamespacedHorizontalPodAutoscalerRequest) FieldSelector(fieldSelector string) ApiListNamespacedHorizontalPodAutoscalerRequest {
	r.fieldSelector = &fieldSelector
	return r
}

// If true, partially initialized resources are included in the response.
func (r ApiListNamespacedHorizontalPodAutoscalerRequest) IncludeUninitialized(includeUninitialized bool) ApiListNamespacedHorizontalPodAutoscalerRequest {
	r.includeUninitialized = &includeUninitialized
	return r
}

// Watch for changes to the described resources and return them as a stream of add, update, and remove notifications. Specify resourceVersion.
func (r ApiListNamespacedHorizontalPodAutoscalerRequest) Watch(watch bool) ApiListNamespacedHorizontalPodAutoscalerRequest {
	r.watch = &watch
	return r
}

// When specified with a watch call, shows changes that occur after that particular version of a resource. Defaults to changes from the beginning of history. When specified for list: - if unset, then the result is returned from remote storage based on quorum-read flag; - if it&#39;s 0, then we simply return what we currently have in cache, no guarantee; - if set to non zero, then the result is at least as fresh as given rv.
func (r ApiListNamespacedHorizontalPodAutoscalerRequest) ResourceVersion(resourceVersion string) ApiListNamespacedHorizontalPodAutoscalerRequest {
	r.resourceVersion = &resourceVersion
	return r
}

// Timeout for the list/watch call. This limits the duration of the call, regardless of any activity or inactivity.
func (r ApiListNamespacedHorizontalPodAutoscalerRequest) TimeoutSeconds(timeoutSeconds int32) ApiListNamespacedHorizontalPodAutoscalerRequest {
	r.timeoutSeconds = &timeoutSeconds
	return r
}

// limit is a maximum number of responses to return for a list call. If more items exist, the server will set the &#x60;continue&#x60; field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.  The server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.
func (r ApiListNamespacedHorizontalPodAutoscalerRequest) Limit(limit int32) ApiListNamespacedHorizontalPodAutoscalerRequest {
	r.limit = &limit
	return r
}

// The continue option should be set when retrieving more results from the server. Since this value is server defined, clients may only use the continue value from a previous query result with identical query parameters (except for the value of continue) and the server may reject a continue value it does not recognize. If the specified continue value is no longer valid whether due to expiration (generally five to fifteen minutes) or a configuration change on the server the server will respond with a 410 ResourceExpired error indicating the client must restart their list without the continue field. This field is not supported when watch is true. Clients may start a watch from the last resourceVersion value returned by the server and not miss any modifications.
func (r ApiListNamespacedHorizontalPodAutoscalerRequest) Continue_(continue_ string) ApiListNamespacedHorizontalPodAutoscalerRequest {
	r.continue_ = &continue_
	return r
}

func (r ApiListNamespacedHorizontalPodAutoscalerRequest) Execute() (*V1HorizontalPodAutoscalerList, *http.Response, error) {
	return r.ApiService.ListNamespacedHorizontalPodAutoscalerExecute(r)
}

/*
ListNamespacedHorizontalPodAutoscaler list or watch objects of kind HorizontalPodAutoscaler

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace object name and auth scope, such as for teams and projects
 @return ApiListNamespacedHorizontalPodAutoscalerRequest
*/
func (a *HorizontalPodAutoscalerAPIService) ListNamespacedHorizontalPodAutoscaler(ctx context.Context, namespace string) ApiListNamespacedHorizontalPodAutoscalerRequest {
	return ApiListNamespacedHorizontalPodAutoscalerRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return V1HorizontalPodAutoscalerList
func (a *HorizontalPodAutoscalerAPIService) ListNamespacedHorizontalPodAutoscalerExecute(r ApiListNamespacedHorizontalPodAutoscalerRequest) (*V1HorizontalPodAutoscalerList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1HorizontalPodAutoscalerList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HorizontalPodAutoscalerAPIService.ListNamespacedHorizontalPodAutoscaler")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/autoscaling/v1/namespaces/{namespace}/horizontalpodautoscalers"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pretty != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pretty", r.pretty, "")
	}
	if r.labelSelector != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "labelSelector", r.labelSelector, "")
	}
	if r.fieldSelector != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fieldSelector", r.fieldSelector, "")
	}
	if r.includeUninitialized != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeUninitialized", r.includeUninitialized, "")
	}
	if r.watch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "watch", r.watch, "")
	}
	if r.resourceVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resourceVersion", r.resourceVersion, "")
	}
	if r.timeoutSeconds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timeoutSeconds", r.timeoutSeconds, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.continue_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continue", r.continue_, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/yaml", "application/vnd.kubernetes.protobuf", "application/json;stream=watch", "application/vnd.kubernetes.protobuf;stream=watch"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPatchNamespacedHorizontalPodAutoscalerRequest struct {
	ctx context.Context
	ApiService *HorizontalPodAutoscalerAPIService
	namespace string
	name string
	body *map[string]interface{}
	pretty *string
}

func (r ApiPatchNamespacedHorizontalPodAutoscalerRequest) Body(body map[string]interface{}) ApiPatchNamespacedHorizontalPodAutoscalerRequest {
	r.body = &body
	return r
}

// If &#39;true&#39;, then the output is pretty printed.
func (r ApiPatchNamespacedHorizontalPodAutoscalerRequest) Pretty(pretty string) ApiPatchNamespacedHorizontalPodAutoscalerRequest {
	r.pretty = &pretty
	return r
}

func (r ApiPatchNamespacedHorizontalPodAutoscalerRequest) Execute() (*V1HorizontalPodAutoscaler, *http.Response, error) {
	return r.ApiService.PatchNamespacedHorizontalPodAutoscalerExecute(r)
}

/*
PatchNamespacedHorizontalPodAutoscaler partially update the specified HorizontalPodAutoscaler

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace object name and auth scope, such as for teams and projects
 @param name name of the HorizontalPodAutoscaler
 @return ApiPatchNamespacedHorizontalPodAutoscalerRequest
*/
func (a *HorizontalPodAutoscalerAPIService) PatchNamespacedHorizontalPodAutoscaler(ctx context.Context, namespace string, name string) ApiPatchNamespacedHorizontalPodAutoscalerRequest {
	return ApiPatchNamespacedHorizontalPodAutoscalerRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
		name: name,
	}
}

// Execute executes the request
//  @return V1HorizontalPodAutoscaler
func (a *HorizontalPodAutoscalerAPIService) PatchNamespacedHorizontalPodAutoscalerExecute(r ApiPatchNamespacedHorizontalPodAutoscalerRequest) (*V1HorizontalPodAutoscaler, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1HorizontalPodAutoscaler
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HorizontalPodAutoscalerAPIService.PatchNamespacedHorizontalPodAutoscaler")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/autoscaling/v1/namespaces/{namespace}/horizontalpodautoscalers/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	if r.pretty != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pretty", r.pretty, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/merge-patch+json", "application/strategic-merge-patch+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/yaml", "application/vnd.kubernetes.protobuf"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPatchNamespacedHorizontalPodAutoscalerStatusRequest struct {
	ctx context.Context
	ApiService *HorizontalPodAutoscalerAPIService
	namespace string
	name string
	body *map[string]interface{}
	pretty *string
}

func (r ApiPatchNamespacedHorizontalPodAutoscalerStatusRequest) Body(body map[string]interface{}) ApiPatchNamespacedHorizontalPodAutoscalerStatusRequest {
	r.body = &body
	return r
}

// If &#39;true&#39;, then the output is pretty printed.
func (r ApiPatchNamespacedHorizontalPodAutoscalerStatusRequest) Pretty(pretty string) ApiPatchNamespacedHorizontalPodAutoscalerStatusRequest {
	r.pretty = &pretty
	return r
}

func (r ApiPatchNamespacedHorizontalPodAutoscalerStatusRequest) Execute() (*V1HorizontalPodAutoscaler, *http.Response, error) {
	return r.ApiService.PatchNamespacedHorizontalPodAutoscalerStatusExecute(r)
}

/*
PatchNamespacedHorizontalPodAutoscalerStatus partially update status of the specified HorizontalPodAutoscaler

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace object name and auth scope, such as for teams and projects
 @param name name of the HorizontalPodAutoscaler
 @return ApiPatchNamespacedHorizontalPodAutoscalerStatusRequest
*/
func (a *HorizontalPodAutoscalerAPIService) PatchNamespacedHorizontalPodAutoscalerStatus(ctx context.Context, namespace string, name string) ApiPatchNamespacedHorizontalPodAutoscalerStatusRequest {
	return ApiPatchNamespacedHorizontalPodAutoscalerStatusRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
		name: name,
	}
}

// Execute executes the request
//  @return V1HorizontalPodAutoscaler
func (a *HorizontalPodAutoscalerAPIService) PatchNamespacedHorizontalPodAutoscalerStatusExecute(r ApiPatchNamespacedHorizontalPodAutoscalerStatusRequest) (*V1HorizontalPodAutoscaler, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1HorizontalPodAutoscaler
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HorizontalPodAutoscalerAPIService.PatchNamespacedHorizontalPodAutoscalerStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/autoscaling/v1/namespaces/{namespace}/horizontalpodautoscalers/{name}/status"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	if r.pretty != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pretty", r.pretty, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/merge-patch+json", "application/strategic-merge-patch+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/yaml", "application/vnd.kubernetes.protobuf"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiReadNamespacedHorizontalPodAutoscalerRequest struct {
	ctx context.Context
	ApiService *HorizontalPodAutoscalerAPIService
	namespace string
	name string
	pretty *string
	export *bool
	exact *bool
}

// If &#39;true&#39;, then the output is pretty printed.
func (r ApiReadNamespacedHorizontalPodAutoscalerRequest) Pretty(pretty string) ApiReadNamespacedHorizontalPodAutoscalerRequest {
	r.pretty = &pretty
	return r
}

// Should this value be exported.  Export strips fields that a user can not specify.
func (r ApiReadNamespacedHorizontalPodAutoscalerRequest) Export(export bool) ApiReadNamespacedHorizontalPodAutoscalerRequest {
	r.export = &export
	return r
}

// Should the export be exact.  Exact export maintains cluster-specific fields like &#39;Namespace&#39;.
func (r ApiReadNamespacedHorizontalPodAutoscalerRequest) Exact(exact bool) ApiReadNamespacedHorizontalPodAutoscalerRequest {
	r.exact = &exact
	return r
}

func (r ApiReadNamespacedHorizontalPodAutoscalerRequest) Execute() (*V1HorizontalPodAutoscaler, *http.Response, error) {
	return r.ApiService.ReadNamespacedHorizontalPodAutoscalerExecute(r)
}

/*
ReadNamespacedHorizontalPodAutoscaler read the specified HorizontalPodAutoscaler

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace object name and auth scope, such as for teams and projects
 @param name name of the HorizontalPodAutoscaler
 @return ApiReadNamespacedHorizontalPodAutoscalerRequest
*/
func (a *HorizontalPodAutoscalerAPIService) ReadNamespacedHorizontalPodAutoscaler(ctx context.Context, namespace string, name string) ApiReadNamespacedHorizontalPodAutoscalerRequest {
	return ApiReadNamespacedHorizontalPodAutoscalerRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
		name: name,
	}
}

// Execute executes the request
//  @return V1HorizontalPodAutoscaler
func (a *HorizontalPodAutoscalerAPIService) ReadNamespacedHorizontalPodAutoscalerExecute(r ApiReadNamespacedHorizontalPodAutoscalerRequest) (*V1HorizontalPodAutoscaler, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1HorizontalPodAutoscaler
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HorizontalPodAutoscalerAPIService.ReadNamespacedHorizontalPodAutoscaler")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/autoscaling/v1/namespaces/{namespace}/horizontalpodautoscalers/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pretty != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pretty", r.pretty, "")
	}
	if r.export != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "export", r.export, "")
	}
	if r.exact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exact", r.exact, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/yaml", "application/vnd.kubernetes.protobuf"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiReadNamespacedHorizontalPodAutoscalerStatusRequest struct {
	ctx context.Context
	ApiService *HorizontalPodAutoscalerAPIService
	namespace string
	name string
	pretty *string
}

// If &#39;true&#39;, then the output is pretty printed.
func (r ApiReadNamespacedHorizontalPodAutoscalerStatusRequest) Pretty(pretty string) ApiReadNamespacedHorizontalPodAutoscalerStatusRequest {
	r.pretty = &pretty
	return r
}

func (r ApiReadNamespacedHorizontalPodAutoscalerStatusRequest) Execute() (*V1HorizontalPodAutoscaler, *http.Response, error) {
	return r.ApiService.ReadNamespacedHorizontalPodAutoscalerStatusExecute(r)
}

/*
ReadNamespacedHorizontalPodAutoscalerStatus read status of the specified HorizontalPodAutoscaler

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace object name and auth scope, such as for teams and projects
 @param name name of the HorizontalPodAutoscaler
 @return ApiReadNamespacedHorizontalPodAutoscalerStatusRequest
*/
func (a *HorizontalPodAutoscalerAPIService) ReadNamespacedHorizontalPodAutoscalerStatus(ctx context.Context, namespace string, name string) ApiReadNamespacedHorizontalPodAutoscalerStatusRequest {
	return ApiReadNamespacedHorizontalPodAutoscalerStatusRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
		name: name,
	}
}

// Execute executes the request
//  @return V1HorizontalPodAutoscaler
func (a *HorizontalPodAutoscalerAPIService) ReadNamespacedHorizontalPodAutoscalerStatusExecute(r ApiReadNamespacedHorizontalPodAutoscalerStatusRequest) (*V1HorizontalPodAutoscaler, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1HorizontalPodAutoscaler
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HorizontalPodAutoscalerAPIService.ReadNamespacedHorizontalPodAutoscalerStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/autoscaling/v1/namespaces/{namespace}/horizontalpodautoscalers/{name}/status"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pretty != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pretty", r.pretty, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/yaml", "application/vnd.kubernetes.protobuf"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiReplaceNamespacedHorizontalPodAutoscalerRequest struct {
	ctx context.Context
	ApiService *HorizontalPodAutoscalerAPIService
	namespace string
	name string
	body *V1HorizontalPodAutoscaler
	pretty *string
}

func (r ApiReplaceNamespacedHorizontalPodAutoscalerRequest) Body(body V1HorizontalPodAutoscaler) ApiReplaceNamespacedHorizontalPodAutoscalerRequest {
	r.body = &body
	return r
}

// If &#39;true&#39;, then the output is pretty printed.
func (r ApiReplaceNamespacedHorizontalPodAutoscalerRequest) Pretty(pretty string) ApiReplaceNamespacedHorizontalPodAutoscalerRequest {
	r.pretty = &pretty
	return r
}

func (r ApiReplaceNamespacedHorizontalPodAutoscalerRequest) Execute() (*V1HorizontalPodAutoscaler, *http.Response, error) {
	return r.ApiService.ReplaceNamespacedHorizontalPodAutoscalerExecute(r)
}

/*
ReplaceNamespacedHorizontalPodAutoscaler replace the specified HorizontalPodAutoscaler

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace object name and auth scope, such as for teams and projects
 @param name name of the HorizontalPodAutoscaler
 @return ApiReplaceNamespacedHorizontalPodAutoscalerRequest
*/
func (a *HorizontalPodAutoscalerAPIService) ReplaceNamespacedHorizontalPodAutoscaler(ctx context.Context, namespace string, name string) ApiReplaceNamespacedHorizontalPodAutoscalerRequest {
	return ApiReplaceNamespacedHorizontalPodAutoscalerRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
		name: name,
	}
}

// Execute executes the request
//  @return V1HorizontalPodAutoscaler
func (a *HorizontalPodAutoscalerAPIService) ReplaceNamespacedHorizontalPodAutoscalerExecute(r ApiReplaceNamespacedHorizontalPodAutoscalerRequest) (*V1HorizontalPodAutoscaler, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1HorizontalPodAutoscaler
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HorizontalPodAutoscalerAPIService.ReplaceNamespacedHorizontalPodAutoscaler")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/autoscaling/v1/namespaces/{namespace}/horizontalpodautoscalers/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	if r.pretty != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pretty", r.pretty, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/yaml", "application/vnd.kubernetes.protobuf"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiReplaceNamespacedHorizontalPodAutoscalerStatusRequest struct {
	ctx context.Context
	ApiService *HorizontalPodAutoscalerAPIService
	namespace string
	name string
	body *V1HorizontalPodAutoscaler
	pretty *string
}

func (r ApiReplaceNamespacedHorizontalPodAutoscalerStatusRequest) Body(body V1HorizontalPodAutoscaler) ApiReplaceNamespacedHorizontalPodAutoscalerStatusRequest {
	r.body = &body
	return r
}

// If &#39;true&#39;, then the output is pretty printed.
func (r ApiReplaceNamespacedHorizontalPodAutoscalerStatusRequest) Pretty(pretty string) ApiReplaceNamespacedHorizontalPodAutoscalerStatusRequest {
	r.pretty = &pretty
	return r
}

func (r ApiReplaceNamespacedHorizontalPodAutoscalerStatusRequest) Execute() (*V1HorizontalPodAutoscaler, *http.Response, error) {
	return r.ApiService.ReplaceNamespacedHorizontalPodAutoscalerStatusExecute(r)
}

/*
ReplaceNamespacedHorizontalPodAutoscalerStatus replace status of the specified HorizontalPodAutoscaler

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace object name and auth scope, such as for teams and projects
 @param name name of the HorizontalPodAutoscaler
 @return ApiReplaceNamespacedHorizontalPodAutoscalerStatusRequest
*/
func (a *HorizontalPodAutoscalerAPIService) ReplaceNamespacedHorizontalPodAutoscalerStatus(ctx context.Context, namespace string, name string) ApiReplaceNamespacedHorizontalPodAutoscalerStatusRequest {
	return ApiReplaceNamespacedHorizontalPodAutoscalerStatusRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
		name: name,
	}
}

// Execute executes the request
//  @return V1HorizontalPodAutoscaler
func (a *HorizontalPodAutoscalerAPIService) ReplaceNamespacedHorizontalPodAutoscalerStatusExecute(r ApiReplaceNamespacedHorizontalPodAutoscalerStatusRequest) (*V1HorizontalPodAutoscaler, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1HorizontalPodAutoscaler
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HorizontalPodAutoscalerAPIService.ReplaceNamespacedHorizontalPodAutoscalerStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/autoscaling/v1/namespaces/{namespace}/horizontalpodautoscalers/{name}/status"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	if r.pretty != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pretty", r.pretty, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/yaml", "application/vnd.kubernetes.protobuf"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
