openapi: 3.0.1
info:
  version: 1.0.0
  x-logo:
    url: /images/other/arvan-api-docs-logo.svg
    backgroundColor: white
    altText: arvancloud
servers:
- url: https://napi.arvancloud.ir/ecc/v1
security:
- key: []
paths:
  /regions/:region/float-ips:
    get:
      description: Returns all floating-ips
      operationId: GetAllFloatingIPs
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FloatIP'
          description: FloatIP
      tags:
      - FloatingIPs
    post:
      description: Creates a new floating-ip
      operationId: CreateFloatingIP
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFloatIPRequest'
        description: Info about the new float-ip to be created
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FloatIP'
          description: FloatIP
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' float-ip description is too long'
      tags:
      - FloatingIPs
      x-codegen-request-body-name: CreateFloatIPRequest
  /regions/:region/float-ips/:id:
    delete:
      description: Deletes a floating-ip
      operationId: DeleteFloatingIP
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' Float-ip not found'
      tags:
      - FloatingIPs
  /regions/:region/float-ips/:id/attach:
    patch:
      description: Attaches a floating-ip to a server port
      operationId: AttachFloatIPToServer
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: float-ip id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FloatIPAttachRequest'
        description: Floating-ip attachment info
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' One or more resources not found'
      tags:
      - FloatingIPs
      x-codegen-request-body-name: FloatIPAttachRequest
  /regions/:region/float-ips/detach:
    patch:
      description: Detaches a floating-ip from a server port
      operationId: DetachFloatIPFromServer
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DetachFloatIPRequest'
        description: Floating-ip attachment info
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' One or more resources not found'
      tags:
      - FloatingIPs
      x-codegen-request-body-name: DetachFloatIPRequest
  /regions/:region/float-ips/ips:
    get:
      description: Returns info about the IPs of the attachments to server ports
      operationId: GetFloatingIPInternalIPs
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerIPInfo'
          description: ServerIPInfo
      tags:
      - FloatingIPs
  /regions/:region/images:
    get:
      description: Returns all user's images
      operationId: GetImages
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: "`private`, `arvan`, `distro`, `migrate`, `distributions`"
        in: query
        name: type
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageList'
          description: ImageList
      tags:
      - Images
    post:
      description: Upload an image to user's personal images. Currently only supporting
        TUS. See https://tus.io
      operationId: UploadImage
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: version of TUS that is used
        in: header
        name: tus-resumable
        required: true
        schema:
          type: string
      - description: The size of entire file in bytes
        in: header
        name: upload-length
        required: true
        schema:
          type: integer
      - description: "Additional file metadata, containing `filename`, `filetype`,\
          \ `data`"
        in: header
        name: upload-metadata
        required: true
        schema:
          type: string
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' Invalid request'
      tags:
      - Images
  /regions/:region/images/:id:
    delete:
      description: Delete user's image
      operationId: DeleteImage
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: id of the image to be deleted
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' image not found'
      tags:
      - Images
    patch:
      description: "Append bytes to existing image, this is done by TUS. See https://tus.io"
      operationId: AppendDataToImage
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' Invalid request'
      tags:
      - Images
  /regions/:region/images/import:
    post:
      description: Download image from given URL
      operationId: ImportImageFromURL
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportImageRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
      tags:
      - Images
      x-codegen-request-body-name: ImportImageRequest
  /regions/:region/networks:
    get:
      description: Get all user's networks
      operationId: GetAllNetworks
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Network'
          description: Network
      tags:
      - Networks
  /regions/:region/networks/:id/attach:
    patch:
      description: Attach specified network to a server
      operationId: AttachNetworkToServer
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: network id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachServerToNetworkRequest'
        description: id of the server which needs to be detached
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' invalid request'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' server can''t be connected to a public network'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' one or more resources not found'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' can''t assign gateway ip'
      tags:
      - Networks
      x-codegen-request-body-name: AttachServerToNetworkRequest
  /regions/:region/networks/:id/detach:
    patch:
      description: Detach a network from server
      operationId: DetachNetworkFromServer
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: network id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DetachNetworkFromServerRequest'
        description: id of the server which needs to be detached
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' server or network id invalid'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' Internal server error'
      tags:
      - Networks
      x-codegen-request-body-name: DetachNetworkFromServerRequest
  /regions/:region/ports/:id/disable:
    patch:
      description: "Disable a port, which disables its interface in the attached server"
      operationId: DisablePort
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: port id
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' port id not found'
      tags:
      - Ports
  /regions/:region/ports/:id/disablePortSecurity:
    patch:
      description: "Disable port security on given port. If disabled, security groups\
        \ can't be assigned to this port"
      operationId: DisablePortSecurity
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: port id
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' can''t disable port security for external networks'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' port id not found'
      tags:
      - Ports
  /regions/:region/ports/:id/enable:
    patch:
      description: "Enable a port, this enables its interface in the attached server"
      operationId: EnablePort
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: port id
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' port id not found'
      tags:
      - Ports
  /regions/:region/ports/:id/enablePortSecurity:
    patch:
      description: Enables port security on a port
      operationId: EnablePortSecurity
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: port id
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' can''t disable port security for external networks'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' port id not found'
      tags:
      - Ports
  /regions/:region/ptr/:
    post:
      description: Creates a PTR record on an IP
      operationId: CreatePTR
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePTRRequest'
        description: IP and domain info of the PTR record
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' Invalid IP address or hostname'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' IP not found'
        "409":
          $ref: '#/components/responses/ErrorReposnse'
      tags:
      - PTR
      x-codegen-request-body-name: CreatePTRRequest
  /regions/:region/ptr/:ip:
    delete:
      description: Deletes a PTR record pointing to the specified ip address
      operationId: DeletePTR
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: the IP which PTR record points to
        in: path
        name: ip
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' IP not found'
      tags:
      - PTR
  /regions/:region/quota:
    get:
      description: Returns the limit of resources the user can allocate
      operationId: GetUserLimits
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quota'
          description: Quota
      tags:
      - Quota
  /regions/:region/reports/:id:
    get:
      description: Returns usage reports of a specific server
      operationId: GetServerReports
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: server id
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "period of the reports, ex. `1m`, `1h`, `1d`"
        in: path
        name: period
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerReports'
          description: ServerReports
      tags:
      - Reports
  /regions/:region/reports/:id/:metric:
    get:
      description: Returns metrics for a report
      operationId: GetReportMetric
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: server id
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: the metric name to be returned
        in: path
        name: metric
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerReports'
          description: ServerReports
      tags:
      - Reports
  /regions/:region/securities:
    get:
      operationId: GetAllSecurityGroups
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityGroup'
          description: SecurityGroup
      tags:
      - SecurityGroups
    post:
      description: Creates a security group
      operationId: CreateSecurityGroup
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSecurityGroupRequest'
        description: Info about the security group to be created
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityGroup'
          description: SecurityGroup
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' Description or name exceeded their character limit'
      tags:
      - SecurityGroups
      x-codegen-request-body-name: CreateSecurityGroupRequest
  /regions/:region/securities/:id:
    delete:
      description: Deletes a security group
      operationId: DeleteSecurityGroup
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' security group not found'
      tags:
      - SecurityGroups
  /regions/:region/securities/securitiy-rules/:id:
    delete:
      description: Deletes a security group rule
      operationId: DeleteSecurityGroupRule
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityGroup'
          description: SecurityGroup
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' Invalid data provided'
      tags:
      - SecurityGroups
    post:
      description: Creates a rule for the specified security group
      operationId: CreateSecurityGroupRule
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: Security group id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CreateSecurityGroupRuleRequest'
        description: Security group rule info
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' invalid data provided'
      tags:
      - SecurityGroups
      x-codegen-request-body-name: CreateSecurityGroupRuleRequest
  /regions/:region/securities/securitiy-rules/cdn:
    post:
      description: Creates a security group based on Arvan CDN. This allows CDN IPs
        in security rules of newly created group
      operationId: ImportCDNSecurityGroup
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' Invalid request'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' Internal server error'
      tags:
      - SecurityGroups
  /regions/:region/securities/security-rules/:id:
    get:
      description: Returns rules for a security group
      operationId: GetSecurityGroupRules
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityGroup'
          description: SecurityGroup
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' Security group not found'
      tags:
      - SecurityGroups
  /regions/:region/servers:
    get:
      description: Lists all user's servers in specified region
      operationId: GetAllServers
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerDetail'
          description: ServerDetail
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' a specified resource not found'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' internal server error'
      security:
      - key: []
      tags:
      - Servers
    post:
      description: Creates a server in specified region
      operationId: CreateServer
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CreateServerRequest'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerDetail'
          description: ServerDetail
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' region not found'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' internal server error'
      security:
      - key: []
      tags:
      - Servers
      x-codegen-request-body-name: CreateServerRequest
  /regions/:region/servers/:id:
    delete:
      description: Delete a server
      operationId: DeleteServer
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: server id
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "Force delete server. If true, the server will be forcibly deleted"
        in: query
        name: forceDelete
        schema:
          type: boolean
      - description: The reason why this server is being deleted
        in: query
        name: DeleteServerReasons
        schema:
          type: object
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' invalid request'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' server or region not found'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' internal server error'
      tags:
      - Servers
    get:
      description: Get a server details by its ID
      operationId: GetServerDetails
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: server id
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerDetail'
          description: ServerDetail
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' invalid request'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' internal server error'
      tags:
      - Servers
  /regions/:region/servers/:id/actions:
    get:
      description: Returns a list of actions which are permitted to be applied on
        the server
      operationId: GetServerAvailableActions
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: server id
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetServerActionsResponse'
          description: GetServerActionsResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' invalid request'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' server or region not found'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' internal server error'
      tags:
      - Servers
  /regions/:region/servers/:id/add-public-ip:
    post:
      description: Add a new public ip to the server
      operationId: AddServerPublicIP
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: server id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AddServerPublicIPRequest'
        description: security groups to be applied to newly added public ip
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' invalid request'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' server or region not found'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' internal server error'
      tags:
      - Servers
      x-codegen-request-body-name: AddServerPublicIPRequest
  /regions/:region/servers/:id/add-security-group:
    post:
      description: Attach a security group(firewall) to the server
      operationId: AttachServerToSecurityGroup
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: server id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachServerToSecurityGroupRequest'
        description: security group info
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' invalid request'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' server or region not found'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' internal server error'
      tags:
      - Servers
      x-codegen-request-body-name: AttachServerToSecurityGroupRequest
  /regions/:region/servers/:id/attachRoot:
    put:
      description: "Attaches a volume to a server as its root volume. In order to\
        \ do this, the volume MUST be bootable and detached"
      operationId: AttachServerRootVolume
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: server id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AttachServerRootVolumeRequest'
        description: volume id to be attached as root
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' invalid request'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' server or region not found'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' internal server error'
      tags:
      - Servers
      x-codegen-request-body-name: AttachServerRootVolumeRequest
  /regions/:region/servers/:id/detachRoot:
    put:
      description: Detaches server root volume. The server MUST be turned off in order
        to be detached from its root volume
      operationId: DetachServerRootVolume
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: server id
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' invalid request'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' server or region not found'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' internal server error'
      tags:
      - Servers
  /regions/:region/servers/:id/hard-reboot:
    post:
      description: "Restart server, this operation might cause data loss"
      operationId: HardRebootServer
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: server id
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' invalid request'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' server or region not found'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' internal server error'
      tags:
      - Servers
  /regions/:region/servers/:id/instance-ha/:action:
    post:
      description: Enables HA(Esfandiar eyes) Feature on server. This makes sure that
        servers are not affected from compute failures
      operationId: ToggleInstanceHA
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: server id
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "action on the feature, either `enable` or `disable`"
        in: path
        name: action
        required: true
        schema:
          type: string
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' invalid request'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' server or region not found'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' internal server error'
      tags:
      - Servers
  /regions/:region/servers/:id/power-off:
    post:
      description: Power-Off the specified server
      operationId: PowerOffServer
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: server id
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' invalid request'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' server or region is not found'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' internal server error'
      tags:
      - Servers
  /regions/:region/servers/:id/power-on:
    post:
      description: Turns on the specified server
      operationId: PowerOnServer
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: server id
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' invalid request'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' server or region is not found'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' internal server error'
      tags:
      - Servers
  /regions/:region/servers/:id/reboot:
    post:
      description: Reboot server gracefully
      operationId: RebootServer
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: server id
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' invalid request'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' server or region not found'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' internal server error'
      tags:
      - Servers
  /regions/:region/servers/:id/rebuild:
    post:
      description: Rebuild server based on a new image
      operationId: RebuildServer
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: server id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RebuildImageRequest'
        description: image info for the newly built server
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerDetail'
          description: ServerDetail
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' invalid request'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' server or region not found'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' internal server error'
      tags:
      - Servers
      x-codegen-request-body-name: RebuildImageRequest
  /regions/:region/servers/:id/remove-security-group:
    post:
      description: Detaches a server from its security group(firewall)
      operationId: DetachServerFromSecurityGroup
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: server id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachServerToSecurityGroupRequest'
        description: security group info
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' invalid request'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' server or region not found'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' internal server error'
      tags:
      - Servers
      x-codegen-request-body-name: AttachServerToSecurityGroupRequest
  /regions/:region/servers/:id/rename:
    post:
      description: Change server's display name
      operationId: RenameServer
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: server id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenameServerRequest'
        description: server's new name
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' invalid request'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' server or region not found'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' internal server error'
      tags:
      - Servers
      x-codegen-request-body-name: RenameServerRequest
  /regions/:region/servers/:id/rescue:
    post:
      description: Restart server and boot into rescue mode
      operationId: RescueServer
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: server id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RescueServerRequest'
        description: rescue image info
        required: false
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' invalid request'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' internal server error'
      tags:
      - Servers
      x-codegen-request-body-name: RescueServerRequest
  /regions/:region/servers/:id/reset-root-password:
    post:
      description: Reset linux based server's root password
      operationId: ResetRootPassword
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: server id
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' invalid request'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' server or region is not found'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' internal server error'
      tags:
      - Servers
  /regions/:region/servers/:id/resize:
    post:
      description: Change server's flavor
      operationId: ResizeServer
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: server id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResizeServerRequest'
        description: new flavor info
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' invalid request'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' internal server error'
      tags:
      - Servers
      x-codegen-request-body-name: ResizeServerRequest
  /regions/:region/servers/:id/resizeRoot:
    put:
      description: Resizes server root volume without changing its flavor
      operationId: ResizeServerRootVolume
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: server id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ResizeRootVolumeRequest'
        description: New root volume size
        required: false
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' invalid request'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' server or region not found'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' internal server error'
      tags:
      - Servers
      x-codegen-request-body-name: ResizeRootVolumeRequest
  /regions/:region/servers/:id/snapshot:
    post:
      description: Makes a snapshot from server's root volume
      operationId: TakeServerSnapshot
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: server id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SnapshotCreateRequest'
        description: snapshot info
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' snapshot name more than limit'
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' user quota limit reached'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' internal server error'
      tags:
      - Servers
      x-codegen-request-body-name: payload
  /regions/:region/servers/:id/unrescue:
    post:
      description: Restart server from rescue mode into normal mode
      operationId: UnrescueServer
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: server id
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' invalid request'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' internal server error'
      tags:
      - Servers
  /regions/:region/servers/:id/vnc:
    get:
      description: Returns a noVNC url which can be used to interact with server
      operationId: GetServerVNC
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: server id
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetServerVNCRequest'
          description: GetServerVNCRequest
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' invalid request'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' server or region not found'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' internal server error'
      tags:
      - Servers
  /regions/:region/servers/delete-reasons:
    get:
      description: Get all delete reasons for server deletion. The response ids will
        be used in server deletion API endpoint
      operationId: GetDeleteReasons
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteServerReasons'
          description: DeleteServerReasons
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' invalid request'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' internal server error'
      tags:
      - Servers
  /regions/:region/servers/options:
    get:
      description: Returns info about the server creation options in the specified
        region
      operationId: GetRegionServerCreationOptions
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionServerCreateOptions'
          description: RegionServerCreateOptions
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' region not found'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' internal server error'
      security:
      - key: []
      tags:
      - Servers
  /regions/:region/sizes:
    get:
      description: Returns info about a region's available plans
      operationId: GetAllRegionPlans
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: filters based on cpu core count if exists
        in: query
        name: cpu
        schema:
          type: string
      - description: filters based on RAM MB if exists
        in: query
        name: ram
        schema:
          type: string
      - description: filters based on disk GB if exists
        in: query
        name: disk
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
          description: Plan
      tags:
      - Plans
  /regions/:region/sizes/:id:
    get:
      description: Returns a specific plan based on its code
      operationId: GetPlanByID
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: plan id
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SinglePlan'
          description: SinglePlan
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' plan not found'
      tags:
      - Plans
  /regions/:region/snapshots:
    get:
      description: Returns all user's snapshots
      operationId: GetAllSnapshots
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeSnapshot'
          description: VolumeSnapshot
      tags:
      - Snapshots
  /regions/:region/snapshots/:id:
    delete:
      description: Deletes a snapshot
      operationId: DeleteSnapshot
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: snapshot id
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' snapshot not found'
      tags:
      - Snapshots
    put:
      description: Updates snapshot info
      operationId: UpdateSnapshot
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: snapshot id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVolumeSnapshotRequest'
        description: new info for volume snapshot
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' snapshot not found'
      tags:
      - Snapshots
      x-codegen-request-body-name: UpdateVolumeSnapshotRequest
  /regions/:region/snapshots/:id/images/:
    post:
      description: "Creates an image as a `Personal OS` from snapshot. Note this method\
        \ is deprecated, use `Volumes/CreateOSVolumeFromSnapshot`"
      operationId: CreateImageFromSnapshot
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: snapshot id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVolumeFromSnapshotRequest'
        description: snapshot info to be reverted
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' `name` and `description` character limit exceeded'
      tags:
      - Snapshots
      x-codegen-request-body-name: CreateVolumeFromSnapshotRequest
  /regions/:region/snapshots/:id/revert:
    put:
      description: Reverts a volume or server to its snapshot
      operationId: RevertSnapshot
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: server or volume id which the snapshot belongs to
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevertSnapshotRequest'
        description: snapshot info to be reverted
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' invalid data provided'
      tags:
      - Snapshots
      x-codegen-request-body-name: RevertSnapshotRequest
  /regions/:region/snapshots/:id/volumes/:
    post:
      description: Creates a volume from snapshot
      operationId: CreateVolumeFromSnapshot
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: snapshot id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVolumeFromSnapshotRequest'
        description: snapshot info to be reverted
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' `name` and `description` character limit exceeded'
      tags:
      - Snapshots
      x-codegen-request-body-name: CreateVolumeFromSnapshotRequest
  /regions/:region/snapshots/servers/:id:
    post:
      description: Creates a snapshot from server
      operationId: CreateSnapshotFromServer
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: volume id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSnapshotFromVolumeRequest'
        description: info about the snapshot to be created
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' invalid data provided'
      tags:
      - Snapshots
      x-codegen-request-body-name: CreateSnapshotFromVolumeRequest
  /regions/:region/snapshots/volumes/:id/:
    post:
      description: Creates a snapshot from volume
      operationId: CreateSnapshotFromVolume
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: volume id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSnapshotFromVolumeRequest'
        description: info about the snapshot to be created
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' invalid data provided'
      tags:
      - Snapshots
      x-codegen-request-body-name: CreateSnapshotFromVolumeRequest
  /regions/:region/ssh-keys:
    get:
      description: Reverts a volume or server to its snapshot
      operationId: GetAllSSHKeys
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSHKey'
          description: SSHKey
      tags:
      - SSHKeys
    post:
      description: Creates a SSH key on the specified region
      operationId: CreateSSHKey
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSSHKeyRequest'
        description: info about the new SSH key to be created
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' duplicate key name'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' provided public key format is invalid'
      tags:
      - SSHKeys
      x-codegen-request-body-name: CreateSSHKeyRequest
  /regions/:region/ssh-keys/:name:
    get:
      description: Returns a SSH key based on its name
      operationId: GetSSHKey
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: SSH key name
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSHKey'
          description: SSHKey
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' key not found'
      tags:
      - SSHKeys
    post:
      description: Deletes a SSH key based on its name
      operationId: DeleteSSHKey
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: SSH key name
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' key not found'
      tags:
      - SSHKeys
  /regions/:region/subnets:
    patch:
      description: Updates a private network info
      operationId: UpdatePrivateNetwork
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePrivateNetworkRequest'
        description: id and info of the private network to be updated
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: " invalid data provided, it can be due to invalid subnet address,\
            \ invalid gateway address, or bad dns"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' subnet not found'
      tags:
      - Subnets
      x-codegen-request-body-name: CreatePrivateNetworkRequest
    post:
      description: Creates a private network
      operationId: CreatePrivateNetwork
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePrivateNetworkRequest'
        description: info about new private network to be created
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: " invalid data provided, it can be due to invalid subnet address,\
            \ invalid gateway address, or bad dns"
      tags:
      - Subnets
      x-codegen-request-body-name: CreatePrivateNetworkRequest
  /regions/:region/subnets/:id:
    delete:
      description: Deletes a private network
      operationId: DeletePrivateNetwork
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: private network id
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' subnet not found'
      tags:
      - Subnets
    get:
      description: Deletes a private network
      operationId: GetPrivateNetwork
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: private network id
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' subnet not found'
      tags:
      - Subnets
  /regions/:region/tags:
    get:
      description: Returns all user's tags
      operationId: GetAllUserTags
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
          description: Tag
      tags:
      - Tags
    post:
      description: Add a new tag
      operationId: CreateTag
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTagRequest'
        description: tag name
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' tag length limit exceeded'
      tags:
      - Tags
      x-codegen-request-body-name: CreateTagRequest
  /regions/:region/tags/:id:
    delete:
      description: Delete a tag
      operationId: DeleteTag
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: tag id
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' tag not found'
      tags:
      - Tags
    put:
      description: Update a tag
      operationId: UpdateTag
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: tag id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTagRequest'
        description: tag update info
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' tag length limit exceeded'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' tag not found'
      tags:
      - Tags
      x-codegen-request-body-name: UpdateTagRequest
  /regions/:region/tags/:id/attach:
    put:
      description: Attach tag to an instance
      operationId: AttachTag
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: tag id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachTagRequest'
        description: instance info
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' Invalid tag id'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' Internal server error'
      tags:
      - Tags
      x-codegen-request-body-name: AttachTagRequest
  /regions/:region/tags/:id/detach:
    post:
      description: Detaches a tag from its attached instance
      operationId: DetachTag
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: tag id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DetachTagRequest'
        description: instance info
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' Invalid tag id'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' Internal server error'
      tags:
      - Tags
      x-codegen-request-body-name: DetachTagRequest
  /regions/:region/tags/batch:
    post:
      description: Tags multiple instances in batch mode
      operationId: TagMultipleInstances
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchTagRequest'
        description: tag name
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' one or more tags are invalid'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' one or more resources not found'
      tags:
      - Tags
      x-codegen-request-body-name: BatchTagRequest
  /regions/:region/volumes:
    get:
      description: Lists all volumes
      operationId: GetAllVolumes
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume'
          description: Volume
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' Invalid tag id'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' Internal server error'
      tags:
      - Volumes
    post:
      description: Creates a volume
      operationId: CreateVolume
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: tag id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVolumeRequest'
        description: info about new volume to be created
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume'
          description: Volume
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: " invalid data, note that size can only be positive decimal\
            \ and in GB"
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: " invalid data, note that size can only be positive decimal\
            \ and in GB"
      tags:
      - Volumes
      x-codegen-request-body-name: CreateVolumeRequest
  /regions/:region/volumes/:id:
    delete:
      description: Deletes a specified volume
      operationId: DeleteVolume
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: volume id
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' volume not found'
      tags:
      - Volumes
    patch:
      description: Updates volume info
      operationId: UpdateVolume
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: volume id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdateVolumeRequest'
        description: new volume info
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' invalid data provided'
      tags:
      - Volumes
      x-codegen-request-body-name: UpdateVolumeRequest
  /regions/:region/volumes/:id/snapshot:
    delete:
      description: Delete volume snapshot
      operationId: DeleteVolumeSnapshot
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: snapshot id
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' snapshot id is invalid'
      tags:
      - Volumes
    put:
      description: Update a volume snapshot info
      operationId: UpdateVolumeSnapshot
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: snapshot id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdateVolumeSnapshotRequest'
        description: new info for snapshot
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' invalid data provided'
      tags:
      - Volumes
      x-codegen-request-body-name: UpdateVolumeSnapshotRequest
  /regions/:region/volumes/:id/snapshot/revert:
    put:
      description: |-
        Reverts snapshot to a volume
        NOTE: currently snapshot revert is not possible for volumes, this feature will be added soon
        until then, you can create a new volume from snapshot and use it.
      operationId: RevertVolumeSnapshot
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: volume id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/RevertSnapshotRequest'
        description: new volume info
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
      tags:
      - Volumes
      x-codegen-request-body-name: RevertSnapshotRequest
  /regions/:region/volumes/attach:
    patch:
      description: Attach a volume to an instance
      operationId: AttachVolumeToServer
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/VolumeAttachDetachRequest'
        description: volume and instance id for attachment
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' invalid data provided. either server or volume state is invalid
            for this operation'
      tags:
      - Volumes
      x-codegen-request-body-name: VolumeAttachDetachRequest
  /regions/:region/volumes/detach:
    patch:
      description: Attach a volume to an instance
      operationId: DetachVolumeFromServer
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/VolumeAttachDetachRequest'
        description: volume and instance id for attachment
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' volume attachment not found. this means the volume is not
            attached to this server'
      tags:
      - Volumes
      x-codegen-request-body-name: VolumeAttachDetachRequest
  /regions/:region/volumes/limits:
    get:
      description: Attach a volume to an instance
      operationId: GetVolumeLimits
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeLimits'
          description: VolumeLimits
      tags:
      - Volumes
  /regions/:region/volumes/options:
    get:
      description: Returns available options for a volume
      operationId: GetVolumeOptions
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeOptions'
          description: VolumeOptions
      tags:
      - Volumes
  /regions/:region/volumes/os-volumes:
    get:
      description: "Lists all OS Volumes, These volumes are bootable volumes which\
        \ can be used to create an instance from a snapshot"
      operationId: GetAllOSVolumes
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume'
          description: Volume
      tags:
      - Volumes
  /regions/:region/volumes/snapshots:
    get:
      description: Returns snapshots taken from user's volumes
      operationId: GetVolumeSnapshots
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      responses:
        "200":
          $ref: '#/components/responses/VolumeSnapshots'
      tags:
      - Volumes
  /regions/:region/volumes/snapshots/:id/create-volume:
    post:
      description: Create a volume from specified snapshot
      operationId: CreateVolumeFromSnapshot
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: snapshot id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CreateVolumeFromSnapshotRequest'
        description: new volume info
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ' invalid data provided'
      tags:
      - Volumes
      x-codegen-request-body-name: CreateVolumeFromSnapshotRequest
  /regions/:region/volumes/snapshots/:id/os-volume:
    post:
      description: "Creates an OS Volume from snapshot, which can later be used to\
        \ boot up a new instance from that volume"
      operationId: CreateOSVolumeFromSnapshot
      parameters:
      - description: region code
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: snapshot id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CreateVolumeFromSnapshotRequest'
        description: new volume info
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: MessageResponse
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: " provided data is invalid, or source disk is not bootable"
      tags:
      - Volumes
      x-codegen-request-body-name: CreateVolumeFromSnapshotRequest
components:
  schemas:
    AddServerPublicIPRequest:
      example:
        security_groups:
        - security_groups
        - security_groups
        security_group: security_group
      properties:
        security_group:
          type: string
          x-go-name: SecurityGroupID
        security_groups:
          items:
            type: string
          type: array
          x-go-name: SecurityGroupIDs
      type: object
      x-go-name: addIPReq
      x-go-package: git.arvaninternal.ir/iaas/interface/os-gateway/pkg/ui/controllers/abrak
    AllocationPool:
      example:
        start: start
        end: end
      properties:
        end:
          type: string
          x-go-name: End
        start:
          type: string
          x-go-name: Start
      type: object
      x-go-package: git.arvaninternal.ir/iaas/interface/os-gateway/pkg/ui/responses/networks
    AttachPortSecurityRequest:
      properties:
        security_group_id:
          type: string
          x-go-name: SecurityGroupID
      type: object
      x-go-name: attachPortSecurityRequest
      x-go-package: git.arvaninternal.ir/iaas/interface/os-gateway/pkg/ui/controllers/port
    AttachServerRootVolumeRequest:
      example:
        volume_id: volume_id
      properties:
[...]
